<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/yscszsz/History",
            data:"",
            dataType: "json",
            type: "POST",
            error: function (xmlhttprequest, textStatus, errorThrown) {
                $.messager.alert("错误", $.view.warning, 'error');
            },
            success: function (data) {
                var gridId = 'history-BG_DefaultMain';
                //修改通用的历史查询脚本，当查询以后将页码修改成第一页  sxh 2014-04-03
                $('#' + gridId).datagrid('getPager').pagination('options').pageNumber = 1;

                $('#' + gridId).datagrid('loadData', data);
            }
        });
    });
</script>
<body>
<div class="easyui-layout" b-type="1" data-options="fit:true" z="1">
<div b-type="1" data-options="region:'north',tools:'#tbar'" style="height:51px">
<div id='tbar' b-type="1" style="padding: 2px 0 2px 2px;background:#fafafa;border:1px solid #ccc;">
        <a href="#"  class="easyui-linkbutton" b-type="1" 
        id="history-haffirm" b-action="haffirm" 
        data-options="plain:'true',
        bindmethod:{ 'click': ['submitHistory'] },
        bindparms:{'submitHistory':['history-BG_DefaultMain','@ViewData["ModelUrl"]']},
        window:'b-window',
        scope:'history',
        iconCls:'icon-queren'">浏览</a>

@*        <a href="#"  class="easyui-linkbutton" b-type="1" 
        id="history-hselect" b-action="hselect" data-options=" 
        scope:'history',
        plain:'true',iconCls:'icon-chaxun'">查询</a>*@


        <a href="#"  class="easyui-linkbutton" b-type="1" 
        id="history-hexit"   b-action="hexit"      
        data-options="plain:'true',
        bindmethod:{ 'click': ['cancelDetail'] },
        bindparms:{'cancelDetail':['@ViewData["ModelUrl"]']},
        scope:'history', 
        window:'b-window',         
        iconCls:'icon-tuichu'">退出</a>
</div>
</div>
<div b-type="1" data-options="region:'center',fit:true" >
    <table style="height:500px;padding:5px"  class="easyui-datagrid"  id="history-BG_DefaultMain" b-type="1" 
            data-options="
            fitColumns:false,
            method:'get',
            singleSelect:true,
            checkOnSelect:true,
            pagination:true,
            striped: false,
            pageSize:20,
            pageList:[20,50,100],
            rownumbers:true
            ">
            <thead>
                <tr>
                    <th field="b-sel" data-options="width:100,checkbox:'true'"></th>
                    <th field="GUID" hidden="true"></th>
                    <th field="DocNum"align="left">单据编码</th>
                    <th field="BGSetupName"align="left">预算设置</th>
                    <th field="ProjectName"align="left">项目名称</th>
                    <th field="ProjectKey"align="left">项目编码</th>
                    <th field="BGStepName"align="left">预算步骤</th>
                    <th field="BGTypeName"align="left">预算类型</th>
                    <th field="DepartmentName"align="left">部门名称</th>
                    <th field="Maker"align="left">制单人</th>
                </tr>
            </thead>
    </table>
</div>
</div>
</body>