<script type="text/javascript">
    $(document).ready(function () {

        // 设置年

        $('#history-hexit').bind('click', function () {
            $($(parent.document).find("#closeTab")).click();
        })

        $('#history-hselect').bind('click', function () {
            GetData();
        })

        // 预算步骤初始值设置
        $('#ysfp-history-BGStep').combogrid({
            onLoadSuccess: function () {

                var g = $('#ysfp-history-BGStep').combogrid('grid');
                var data = g.datagrid('getRows');
                var iLen = data.length;
                for (var i = 0; i < iLen; i++) {
                    if (data[i].BGStepKey == "05") {
                        $('#ysfp-history-BGStep').combogrid('setValue', data[i].GUID);
                    }
                }
            }
        })

        // 预算类型初始值设置
        $('#ysfp-history-BGType').combogrid({
            onLoadSuccess: function () {
                
                var g = $('#ysfp-history-BGType').combogrid('grid');
                var data = g.datagrid('getRows');
                var iLen = data.length;
                for (var i = 0; i < iLen; i++) {
                    if (data[i].BGTypeKey == "01") {
                        $('#ysfp-history-BGType').combogrid('setValue', data[i].GUID);
                    }
                }
            }
        })

        $('#ysfp-history-Year').combobox({
            onLoadSuccess: function (newValue, oldValue) {
                SetYear();
                //LoadGridData();
            }
        })
    })

    // 函数区域
    function LoadGridData() {
        $.ajax({
            url: "/ysfp/WorkFlow",
            data: {},
            dataType: "json",
            type: "POST",
            error: function (xmlhttprequest, textStatus, errorThrown) {
                $.messager.alert("错误", $.view.warning, 'error');
            },
            success: function (data) {
                ;
                $('#ysfp-SS_RunTimeUsersSet').datagrid('loadData', data);
            }
        });
    }
    function GetData() {
        
        var data = $.view.retrieveData("ysfp", "historydatafilter");
        var url;
        var tcondition;
        var result = {};
        if (data && data.m) {
            for (var i = 0, j = data.m.length; i < j; i++) {
                var temp = data.m[i];
                if (!temp && !temp.v) continue;
                result[temp.n] = temp.v;
            }
        }

        
        // 年要重新获取，原因是年的设置时在onloadsuccess中进行的，虽然页面上显示的当前年，但实际value是2011，至于为什么，这该死的js就这样
        var year = $('#ysfp-history-Year').combobox('getText');
        result["Year"] = year;
        var treeCondition = [];


        // 获取部门树的节点
        var r = $('#history-tree-historydep').tree('getChecked');
        if (r) {
            var iLen = r.length;
            var Ids = [];
            for (var i = 0; i < iLen; i++) {
                if (r[i].attributes.m == "SS_Department") {
                    Ids.push(r[i].id);
                }
            }
            var pr = Ids.join(',');
            tcondition = { treeModel: "SS_Department", treeValue: pr };
            treeCondition.push(tcondition);
        }
        // 获取项目树节点
        r = $('#history-tree-historyproject').tree('getChecked');
        if (r) {
            var iLen = r.length;
            var Ids = [];
            for (var i = 0; i < iLen; i++) {
                if (r[i].attributes.m == "SS_Project") {
                    Ids.push(r[i].id);
                }
            }
            var pr = Ids.join(',');
            tcondition = { treeModel: "SS_Project", treeValue: pr };
            treeCondition.push(tcondition);
        }
        // 获取功能分类树节点
        r = $('#history-tree-historyFunctionClass').tree('getChecked');
        if (r) {
            var iLen = r.length;
            var Ids = [];
            for (var i = 0; i < iLen; i++) {
                if (r[i].attributes.m == "SS_FunctionClass")
                {
                    Ids.push(r[i].id);
                }                
            }
            var pr = Ids.join(',');
            tcondition = { treeModel: "SS_FunctionClass", treeValue: pr };
            treeCondition.push(tcondition);
        }

        result = $.extend(result, { TreeNodeList: treeCondition });
        $.ajax({
            url: "/ysfp/History",
            data: { condition: JSON.stringify(result) },
            dataType: "json",
            type: "POST",
            error: function (xmlhttprequest, textStatus, errorThrown) {
                $.messager.alert("错误", $.view.warning, 'error');
            },
            success: function (data) {
                var gridId = 'history-BG_Assign';
                //修改通用的历史查询脚本，当查询以后将页码修改成第一页  sxh 2014-04-03
                $('#' + gridId).datagrid('getPager').pagination('options').pageNumber = 1;

                $('#' + gridId).datagrid('loadData', data);
            }
        });
    }
function SetYear() {
    
    var myDate = new Date();
    var year = myDate.getFullYear();
    $('#ysfp-history-Year').combobox('setValue', year + "");
}
</script>
<body>
<div class="easyui-layout" b-type="1" data-options="fit:true" z="1">
<div b-type="1" data-options="region:'north',tools:'#tbar'" style="height:51px">
<div id='tbar' b-type="1" style="padding: 2px 0 2px 2px;background:#fafafa;border:1px solid #ccc;">
                   
                   <a href="#"  class="easyui-linkbutton" b-type="1" 
                   id="history-haffirm" b-action="haffirm" 
                   data-options="plain:'true',
                   bindmethod:{ 'click': ['submitHistory'] },
                   bindparms:{'submitHistory':['history-BG_Assign','@ViewData["ModelUrl"]']},
                   window:'b-window',
                   scope:'history',
                   iconCls:'icon-queren'">确认</a>

                   <a href="#"  class="easyui-linkbutton" b-type="1" 
                   id="history-hselect" b-action="hselect" data-options=" 
                   scope:'history',
                   plain:'true',iconCls:'icon-chaxun'">查询</a>


                    <a href="#"  class="easyui-linkbutton" b-type="1" 
                    id="history-hexit"   b-action="hexit"      
                    data-options="plain:'true',
                    bindmethod:{ 'click': ['cancelDetail'] },
                    bindparms:{'cancelDetail':['@ViewData["ModelUrl"]']},
                    scope:'history', 
                    window:'b-window',         
                    iconCls:'icon-tuichu'">退出</a>

</div>
</div>
<div data-options="region:'west',split:'true'" style="width:270px">
<div class="easyui-tabs" data-options="fit:true">
                <div title="部门">
                    <ul class="easyui-tree" id="history-tree-historydep" data-options="
                  bindmethod:{'onDblClick': ['historySelect'] },
                  bindparms:{'historySelect':['/History/History','history-BG_Main','history','historydatafilter']},
                  url:'/Tree/GetDepartmentTreeCheck?select=0',
                  checkbox:true,
                  method:'post'">   
                    </ul>
                </div>
                <div title="项目">
                    <ul class="easyui-tree" id="history-tree-historyproject" data-options="
                  bindmethod:{ 'onDblClick': ['historySelect'] },
                  bindparms:{'historySelect':['/History/History','history-BG_Main','history','historydatafilter']},
                  url:'/Tree/GetProjectTreeCheck?select=0',
                  checkbox:true,
                  method:'post'">
                    </ul>
                </div>
                <div title="功能分类">
                    <ul class="easyui-tree" id="history-tree-historyFunctionClass" data-options="
                  bindmethod:{ 'onDblClick': ['historySelect'] },
                  bindparms:{'historySelect':['/History/History','history-BG_Main','history','historydatafilter']},
                  url:'/Tree/GetFunctionClassTreeForCheck?select=1',
                  checkbox:true,
                  method:'post'">
                    </ul>
                </div>
</div>
</div>
<div b-type="1" data-options="region:'center'" >
<div b-type="1" id="ysfp-historydatafilter" data-options="region:'north'">
<table border="0" style="width:100%;">
<tr>
    <td style="width:10%;">
            <label for="field1">预算步骤</label>
    </td>
    <td style="width:20%;">
        <select class="easyui-combogrid" id="ysfp-history-BGStep" data-options="
                    columns:[[
                        {field:'GUID',hidden:'true'},
                        {field:'BGStepKey',title:'预算步骤编码',width:'100'},
                        {field:'BGStepName',title:'预算步骤名称',width:'215'}
                        ]],
                        panelWidth:240,
                        width:160,
                        method:'post',
                        idField:'GUID',
                        textField:'BGStepName',
                        filterField:'BGStepKey,BGStepName',
                        url:'/Combogrid/BGStepView'
                    ">
        </select>
                                           
    </td>
    <td style="width:10%;">
        <label for="field1">预算年度</label>
    </td>
    <td style="width:20%;">
        <select id="ysfp-history-Year" class="easyui-combobox"  data-options="editable:false"; style="width:50px;">  
            <option value="2011">2011</option>  
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>  
            <option value="2015">2015</option>
            <option value="2016">2016</option>    
            <option value="2017">2017</option>  
            <option value="2018">2018</option>
            <option value="2019">2019</option>    
            <option value="2020">2020</option>  
            <option value="2021">2021</option>
            <option value="2022">2022</option>    
            <option value="2023">2023</option>  
            <option value="2024">2024</option>
            <option value="2025">2025</option>    
            <option value="2026">2026</option>  
            <option value="2027">2027</option>
            <option value="2028">2028</option>    
            <option value="2029">2029</option>  
            <option value="2030">2030</option>
            <option value="2031">2031</option>    
            <option value="2032">2032</option>  
            <option value="2033">2033</option>
            <option value="2034">2034</option>    
            <option value="2035">2035</option>  
            <option value="2036">2036</option>
            <option value="2037">2037</option>    
            <option value="2038">2038</option>  
            <option value="2039">2039</option>
            <option value="2040">2040</option>    
            <option value="2041">2041</option>  
            <option value="2042">2042</option>
            <option value="2043">2043</option>    
            <option value="2044">2044</option>  
            <option value="2045">2045</option>
            <option value="2046">2046</option>    
            <option value="2047">2047</option>  
            <option value="2048">2048</option>
            <option value="2049">2049</option>    
            <option value="2050">2050</option>  
        </select> 
    </td>
    <td style="width:10%; ">
        <label for="field1">预算类型</label>
    </td>
    <td style="width:30%;">
        <select class="easyui-combogrid" id="ysfp-history-BGType" data-options="columns:[[
                    {field:'GUID',hidden:'true'},
                    {field:'BGTypeKey',title:'预算类型编码',width:'100'},
                    {field:'BGTypeName',title:'预算类型名称',width:'215'}
                    ]],
                    width:160,
                    panelWidth:240,
                    method:'post',
                    url:'/Combogrid/BGType',
                    method:'post',
                    idField:'GUID',
                    textField:'BGTypeName',
                    sortName:'BGTypeKey',
                    filterField:'BGTypeKey,BGTypeName'">
        </select>
    </td>
    
</tr>
<tr>
    <td style="width:10%;">
        <label for="field1">预算分配状态</label>
    </td>
    <td style="width:20%;">
        <select id="ysfp-history-ysfpState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">未提交</option>  
            <option value="2">已提交</option>
        </select> 
    </td>
    <td style="width:10%;">
        <label for="field1">预算初始值编制状态</label>
    </td>
    <td style="width:20%;">
        <select id="ysfp-history-yscszbzState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">未编制</option>  
            <option value="2">已编制</option>
        </select> 
    </td>
    <td style="width:10%;">
        <label for="field1">预算初始值审批状态</label>
    </td>
    <td style="width:30%;">
        <select id="ysfp-history-yscszspState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">未提交</option>  
            <option value="2">已提交</option>
        </select> 
    </td>
</tr>
<tr> 
    <td style="width:10%;">
        <label for="field1">预算编制状态</label>
    </td>
    <td style="width:20%;">
        <select id="ysfp-history-ysbzState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">未编制</option>  
            <option value="2">已编制</option>
        </select> 
    </td>
    <td style="width:10%;">
        <label for="field1">预算编制审批状态</label>
    </td>
    <td style="width:20%;">
        <select id="ysfp-history-ysbzspState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">未提交</option>  
            <option value="2">已提交</option>
        </select> 
    </td>
    <td style="width:10%;">
        <label for="field1">预算审批状态</label>
    </td>
    <td style="width:30%;">
        <select id="ysfp-history-ysspState" class="easyui-combobox"  data-options="">  
            <option value="0",selected="selected">全部</option>  
            <option value="1">部门未提交</option>  
            <option value="2">部门已提交</option>
            <option value="3">审批完成</option>
        </select> 
    </td>
</tr>
</table>
</div>
<div b-type="1" data-options="region:'center',fit:true" >
<table style="height:410px;padding:5px"  class="easyui-datagrid"  id="history-BG_Assign" b-type="1" 
                data-options="
                fitColumns:false,
                method:'get',
                singleSelect:true,
                checkOnSelect:true,
                pagination:true,
                striped: false,
                pageSize:20,
                pageList:[20,50,100],
                rownumbers:true
                ">
                <thead>
                    <tr>
                        <th field="b-sel" data-options="width:100,checkbox:'true'"></th>
                        <th field="GUID" hidden="true"></th>
                        <th field="DWName"align="left">单位名称</th>
                        <th field="DepartmentName"align="left">部门名称</th>
                        <th field="ProjectName"align="left">项目名称</th>
                        <th field="ProjectKey"align="left">项目编码</th>
                        <th field="BGSetupName"align="left">预算设置</th>
                        <th field="Maker"align="left">制单人</th>
                        <th field="MakeDate"align="left">制单日期</th>
                        <th field="ysfpState"align="left">预算分配状态</th>
                        <th field="yscszbzState"align="left">预算初始值编制状态</th>
                        <th field="yscszspState"align="left">预算初始值审批状态</th>
                        <th field="ysbzState"align="left">预算编制状态</th>
                        <th field="ysbzspState"align="left">预算编制审批状态</th>
                        <th field="ysspState"align="left">预算审批状态</th>
                    </tr>
                </thead>
        </table>
</div>
</div>
</body>