<body>
    <div class="easyui-layout" b-type="1" data-options="fit:true" z="1">
        <div b-type="1" data-options="region:'north',tools:'#tbar'" style="height: 51px">
            <div id='tbar' b-type="1" style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
                <a href="#"  class="easyui-linkbutton" b-type="1" 
                   id="history-haffirm" b-action="haffirm" gridId="history-bxdetail" 
                   data-options="plain:'true',
                   bindmethod:{ 'click': ['submitHistory'] },
                   bindparms:{'submitHistory':['history-BGControl_Detail','@ViewData["ModelUrl"]']},
                   window:'b-window',
                   scope:'history',
                   iconCls:'icon-queren'">浏览</a> <a href="#"  class="easyui-linkbutton" b-type="1" 
                    id="history-hexit"   b-action="hexit"      
                    data-options="plain:'true',
                    bindmethod:{ 'click': ['cancelDetail'] },
                    bindparms:{'cancelDetail':['@ViewData["ModelUrl"]']},
                    scope:'history', 
                    window:'b-window',         
                    iconCls:'icon-quxiao'">取消</a>
            </div>
        </div>
        <div b-type="1" data-options="region:'center'">
            <div b-type="1" data-options="region:'center',fit:true" style="width: 984px;">
                <table style="height: 510px; padding: 5px" class="easyui-edatagrid" id="history-BGControl_Detail"
                    b-type="1" data-options="
                        width:984,
                        fitColumns:false,
                        method:'get',
                        singleSelect:true,
                        checkOnSelect:true,
                        pagination:true,
                        striped: false,
                        url:'/yskz/History',
                        pageSize:20,
                        pageList:[20,50,100],
                        rownumbers:true
                        ">
                    <thead>
                        <tr>
                            <th field="b-sel" data-options="width:100,checkbox:'true'">
                            </th>
                            <th field="GUID" hidden="true" width="100">
                            </th>
                            <th field="CMYear" align="center" width="100">
                                年度
                            </th>
                            <th field="DWName" lign="center" width="150">
                                单位名称
                            </th>
                            <th field="DepartmentName" align="center" width="150">
                                部门名称
                            </th>
                            <th field="ProjectName" align="center" width="250">
                                项目名称
                            </th>
                            <th field="ControlWayKey" align="center" width="100">
                                控制方式
                            </th>
                            <th field="Maker" align="center" width="90">
                                制单人
                            </th>
                        </tr>
                    </thead>
                </table>
                <input id="history-history-ModelUrl" class="easyui-validatebox" type="hidden" name="ModelUrl" value="@ViewData["ModelUrl"]"/>
            </div>
        </div>
</body>
