<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  
  <connectionStrings>
    <add name="BusinessEdmxEntities" connectionString="metadata=res://*/BusinessEdmx.csdl|res://*/BusinessEdmx.ssdl|res://*/BusinessEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.9.100.2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InfrastructureEdmxEntities" connectionString="metadata=res://*/InfrastructureEdmx.csdl|res://*/InfrastructureEdmx.ssdl|res://*/InfrastructureEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.9.100.2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseConfigEdmxEntities" connectionString="metadata=res://*/BaseConfigEdmx.csdl|res://*/BaseConfigEdmx.ssdl|res://*/BaseConfigEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.9.100.2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BBConStr" connectionString="Data Source=192.9.100.2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DBConStr" connectionString="Data Source=192.9.100.2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="OAEntities" connectionString="metadata=res://*/OA.csdl|res://*/OA.ssdl|res://*/OA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.9.100.2;Initial Catalog=baoth_oa;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <appSettings>
    <!--U8数据库连接字符串-->
    <add key="U8Config" value="Data Source=192.9.100.2;Initial Catalog=UFDATA_102_2013;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True"/>
    <!--<add key="U8Config" value="Data Source=.\SQL2008R2;Initial Catalog=UFDATA_102_2013;Persist Security Info=True;User ID=sa;Password=100080;MultipleActiveResultSets=True"/>-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--数据库是否创建-->
    <add key="FlowRecreateDB" value="true" />
    <!--系统邮件设置-->
    <add key="EmailIP" value="58.251.149.147" />
    <add key="ToMail" value="2401650334@qq.com" />
    <add key="ToPwd" value="boyatest" />
    <!--任务存放路径-->
    <add key="TaskPath" value="bin/Task" />
    <!--excel模板存放路径-->
    <add key="TemplatePath" value="bin/Template" />

    <add key="CZYLBImportStartRow" value="6" />
    <!--第一列位 支用额度 用没有增加 行数-->
    <add key="CZYLBImportStartCols" value="8,11,12" />
    <!--smtp邮件服务器-->
    <add key="EmailHost" value="mail.ngcc.cn" />
    <!--是否使用SSL加密-->
    <add key="EnableSsl" value="false"/>
    <!--邮件服务器端口-->
    <add key="EmailHostPort" value="25"/>
    <!--服务器邮箱地址-->
    <add key="HostAddress" value="caiwuchu@ngcc.cn"/>
    <!--服务器邮箱密码-->
    <add key="HostPassword" value="cai2009"/>
    <!--服务器邮箱显示名称-->
    <add key="HostDisplayName" value="国地信"/>
    <!--邮件主题-->
    <add key="SubjectName" value="国地信@year年@month月工资条"/>
  </appSettings>

  <system.web>
    <!--excel给session会话设定时间为30分钟-->
    <sessionState mode="InProc" timeout="30"></sessionState>
    <httpRuntime maxRequestLength="102400" executionTimeout="720" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
