

@{
    Layout = "~/Views/master/_Layout.cshtml";
    ViewBag.Title = "现金提现单需求";
}
<script src="../../Scripts/cn/txd.js?r=12" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.view.setViewEditStatus("Demand", "1");
        var ywId = "Demand-Demand-YWType", docId = "Demand-Demand-GUID_DocType";
        $('#' + ywId).combobox({
            onSelect: function (rec) {
                var docdata = [{
                    GUID: '00000000-0000-0000-0000-000000000000',
                    DocTypeName: '全部',
                    DocTypeKey: '00',
                    GUID_YWType: ''
                }, {
                    GUID: 'b34d620a-ef93-4c8d-ba28-5e0e975cdf25',
                    DocTypeName: '劳务费领款单',
                    DocTypeKey: '04',
                    GUID_YWType: 'fca157b6-70a3-4fca-8c01-0093f70ecc83'
                }, {
                    GUID: '0881e5f0-64d2-44f2-8653-9d4ced254190',
                    DocTypeName: '现金约款单',
                    DocTypeKey: '10',
                    GUID_YWType: 'e2504921-4b1e-4e3f-be54-ba97cd4d81a3'
                }];
                var GUID = rec.GUID;
                var YWTypeKey = rec.YWTypeKey;
                $('#Demand-Demand-YWTypeKey').val(YWTypeKey);


                if (GUID == "00000000-0000-0000-0000-000000000000") {
                    $('#' + docId).combobox('loadData', docdata);
                    $('#' + docId).combobox('setValue', docdata[0].GUID);
                } else {
                    var remoteData = [];
                    for (var i = 0; i < docdata.length; i++) {
                        var row = docdata[i];
                        if (row.GUID_YWType == "" || row.GUID_YWType == GUID) {
                            remoteData.push(row);
                        }
                    }
                    $('#' + docId).combobox('loadData', remoteData);
                    $('#' + docId).combobox('setValue', remoteData[0].GUID);
                }
            },
            onLoadSuccess: function (data) {
                                $.SetDefault();
            }
        });

     
        var dataGridObj = $("#Demand-CN_CashMain");
        dataGridObj.datagrid({
            onLoadSuccess: function (data) {
                var total = 0.00;
                for (var i = 0; i < data.rows.length; i++) {
                    var t = data.rows[i]["Total"];
                    if (t) {
                        total += parseFloat(data.rows[i]["Total"]);
                    }
                }

                var hjRow = {};
                hjRow["DocNum"] = "合计";
                hjRow["Total"] = total;
                //添加合计行

                dataGridObj.datagrid("appendRow", hjRow);
                var hjIndex = data.rows.length - 1;
                dataGridObj.datagrid('mergeCells', {
                    index: hjIndex,
                    field: 'DocNum',
                    rowspan: 0,
                    colspan: 5
                });
            }
        })

    });

    $.SetDefault = function () {
        var GUID = "e2504921-4b1e-4e3f-be54-ba97cd4d81a3";
        var YWTypeKey = "0502";
        $('#Demand-Demand-YWType').combobox("select", GUID);       
        $('#Demand-Demand-YWTypeKey').val(YWTypeKey);       
    }
   

    $.extend($.fn.linkbutton.methods, {
        submitDemand: function () {
            var opts = $(this).linkbutton('options');
            var parms = $(this).linkbutton('getParms', 'submitDemand');
            if (parms && parms.length >= 2) {
                var targetScope = parms[1];
                var gridId = '#' + parms[0];
                var selRow = $(gridId).datagrid('getChecked');
                
                if (!selRow || selRow.length == 0) {
                    $.messager.alert('系统提示', '请选择一条数据');
                    return;
                }

                var arrId = []; //待优化成后台一次请求

                for (var i = 0, j = selRow.length; i < j; i++) {
                    if (selRow[i]["DocNum"] == "合计") {
                        $.messager.alert('系统提示', '合计不能选择！');
                        return;
                    }
                    var objId = {};
                    objId.GUID = selRow[i].GUID;
                    objId.YWTypeKey = selRow[i].YWTypeKey;
                    arrId.push(objId);
                }
                var dataguid = JSON.stringify(arrId)
                window.parent.$.OpenTab("现金提取", "xjtq/XJTQ", "xjtq", dataguid);
            }


        },
        getHistoryByFilter: function (url, gridId, scope, region, tcondition) {

            var data = $.view.retrieveData(scope, region);
            var url;
            var result = {};
            if (data && data.m) {
                for (var i = 0, j = data.m.length; i < j; i++) {
                    var temp = data.m[i];
                    if (!temp && !temp.v) continue;
                    result[temp.n] = temp.v;
                }
            }
            result = $.extend(result, tcondition || {});
            if (url) {
                $.ajax({
                    url: url,
                    data: { condition: JSON.stringify(result) },
                    dataType: "json",
                    type: "POST",
                    traditional: true,
                    error: function (xmlhttprequest, textStatus, errorThrown) {
                        $.messager.alert("错误", $.view.warning, 'error');
                    },
                    success: function (data) {
                        $('#' + gridId).datagrid('loadData', data);
                    }
                });
            }
        }
    });


</script>
<div class="easyui-layout" b-type="1" data-options="fit:true" z="1">
    <div b-type="1" data-options="region:'north',tools:'#tbar'" style="height: 51px">
        <div id='tbar' b-type="1" style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
            <a href="#"  class="easyui-linkbutton" b-type="1" 
                   id="Demand-haffirm" b-action="haffirm"
                   data-options="plain:'true',
                   bindmethod:{ 'click': ['submitDemand'] },
                   bindparms:{'submitDemand':['Demand-CN_CashMain','@ViewData["ModelUrl"]']},
                   window:'b-window',
                   scope:'Demand',
                   iconCls:'icon-queren'">确认</a> 
                   <a href="#" class="easyui-linkbutton" b-type="1" id="Demand-hselect"
                       b-action="hselect" data-options=" 
                   bindmethod:{ 'click': ['historySearch'] },
                   bindparms:{'historySearch':['/xjtq/History','Demand-CN_CashMain','Demand','Demanddatafilter']},
                   scope:'Demand',
                   plain:'true',iconCls:'icon-chaxun'">查询</a> 
                   <a href="#" class="easyui-linkbutton"
                   id="Demand-close" data-options="plain:'true',iconCls:'icon-tuichu',
                   bindmethod:{ 'click': ['closeTab'] },
                   scope:'Demand'">退出</a>
        </div>
    </div>
    <div id="divWest" data-options="region:'west',split:'true'" style="width: 270px">
        <div class="easyui-tabs" data-options="fit:true">
            <div title="人员">
                <ul class="easyui-tree" id="Demand-tree-Demandper" data-options="
                  bindmethod:{'onDblClick': ['DemandSelect'] },
                  bindparms:{'DemandSelect':['/Demand/Demand','Demand-CN_CashMain','Demand','Demanddatafilter']},
                  url:'/Tree/GetPersonTree',
                  method:'post'">
                </ul>
            </div>
            <div title="部门">
                <ul class="easyui-tree" id="Demand-tree-Demanddep" data-options="
                  bindmethod:{'onDblClick': ['DemandSelect'] },
                  bindparms:{'DemandSelect':['/Demand/Demand','Demand-CN_CashMain','Demand','Demanddatafilter']},
                  url:'/Tree/GetDepartmentTree',
                  method:'post'">
                </ul>
            </div>
            <div title="单位">
                <ul class="easyui-tree" id="Demand-tree-Demanddw" data-options="  
                  bindmethod:{'onDblClick': ['DemandSelect'] },
                  bindparms:{'DemandSelect':['/Demand/Demand','Demand-CN_CashMain','Demand','Demanddatafilter']},
                  url:'/Tree/GetDWTree',
                  method:'post'">
                </ul>
            </div>
            <div title="科目">
                <ul class="easyui-tree" id="Demand-tree-Demandcode" data-options="
                  bindmethod:{'onDblClick': ['DemandSelect'] },
                  bindparms:{'DemandSelect':['/Demand/Demand','Demand-CN_CashMain','Demand','Demanddatafilter']},
                  url:'/Tree/GetBgCodeTree',
                  method:'post'">
                </ul>
            </div>
            <div title="项目">
                <ul class="easyui-tree" id="Demand-tree-Demandproject" data-options="
                  bindmethod:{ 'onDblClick': ['DemandSelect'] },
                  bindparms:{'DemandSelect':['/Demand/Demand','Demand-CN_CashMain','Demand','Demanddatafilter']},
                  url:'/Tree/GetProjectTree',
                  method:'post'">
                </ul>
            </div>
        </div>
    </div>
    <div b-type="1" data-options="region:'center'">
        <div b-type="1" id="Demand-Demanddatafilter">
            <table id="table" border="0" style="width: 100%;">
                <tr>
                    <td  class="tdTextTr2">
                        <label for="lbl-YWType">
                            业务类型</label>
                    </td>
                    <td class="tdValueTr2">
                        <select id="Demand-Demand-YWType" class="easyui-combobox" style="width: 176px;"
                           @* url="/Combo/YWTypeAll" *@
                            data-options="
                            panelHeight:150,
                            editable:false,
                            valueField:'GUID',
                            value:'e2504921-4b1e-4e3f-be54-ba97cd4d81a3',
                            textField:'YWTypeName',
                            data: [{
			                        GUID: '00000000-0000-0000-0000-000000000000',
			                        YWTypeName: '全部',
                                    YWTypeKey:'00'
		                        },{
			                        GUID: 'fca157b6-70a3-4fca-8c01-0093f70ecc83',
			                        YWTypeName: '报销管理',
                                    YWTypeKey:'02'
		                        },{
			                        GUID: 'e2504921-4b1e-4e3f-be54-ba97cd4d81a3',
			                        YWTypeName: '往来管理', @*/*指 个人往来*/*@
                                    YWTypeKey:'0502'
		                        }]
                            
                            ">
                        </select>
                    </td>
                    <td class="tdTextTr2">
                        <label for="field1">
                            单据类型</label>
                    </td>
                    <td class="tdValueTr2">
                        <select id="Demand-Demand-GUID_DocType" class="easyui-combobox" style="width: 176px;"
                           @* url="/Combo/DocType" *@
                            data-options="
                            panelHeight:150,
                            editable:false,
                            valueField:'GUID',
                           
                            textField:'DocTypeName',
                            
                            filterField:'DocTypeKey,DocTypeName',
                             data: []
                         ">
                        </select>
                    </td>
                </tr>
                <tr>
                <td class="tdTextTr2">
                    <label for="field1">
                        起始日期</label>
                </td>
                <td class="tdValueTr2">
                <input class="easyui-datebox" id="Demand-CN_CashMain-StartDate" 
                        validType="TimeCheck['Demand-CN_CashMain-EndDate',true]" 
                        invalidMessage="开始日期不能大于结束日期"
                        data-options="
                            width:176,
                            required:false,
                            value:'@ViewData["startDate"]',
                            bindmethod: { 'onCloseEx': ['setAssociate'] }"></input>
                </td>
                <td class="tdTextTr2">
                    <label for="field1">
                        结束日期</label>
                </td>
                <td class="tdValueTr2">
                    <input class="easyui-datebox" id="Demand-CN_CashMain-EndDate" validType="TimeCheck['Demand-CN_CashMain-StartDocDate',false]"
                        data-options="
                            width:176,
                            required:false,
                            value:'@ViewData["currentDate"]',
                            bindmethod: { 'onCloseEx': ['setAssociate'] }"></input>

                    <input id="Demand-CN_CashMain-ModelUrl" class="easyui-validatebox" type="hidden" name="ModelUrl" value="@ViewData["ModelUrl"]"/>
                    <input id="Demand-CN_CashMain-RequestType" class="easyui-validatebox" type="hidden"
                        name="ModelUrl" value="xq" />
                </td>
              </tr>
                <tr>
                <td colspan="4">
                    <input id="Demand-Demand-YWTypeKey" class="easyui-validatebox" type="hidden"/>
                    <input id="Demand-Demand-ApproveStatus"  type="hidden" class="easyui-validatebox" value="2"/>
                    <input id="Demand-Demand-WithdrawStatus" type="hidden" class="easyui-validatebox" value="1"/>
                    <input id="Demand-Demand-PayStatus" type="hidden" class="easyui-validatebox" value="1"/>
                    <input id="Demand-Demand-CancelStatus" type="hidden" class="easyui-validatebox" value="1"/>
                    <input id="Demand-Demand-HXStatus" type="hidden" class="easyui-validatebox" value="0"/>
                    <input id="Demand-Demand-SettleTypeKey" type="hidden" class="easyui-validatebox" value="01"/>

                </td>
            </tr>
                <tr>
                 <td colspan="4">
                    <table style="padding: 5px" class="easyui-datagrid" id="Demand-CN_CashMain"
                        b-type="1" data-options="
                        fitColumns:false,
                        method:'get',
                        singleSelect:false,
                        formatters:{'Total':'numberbox'},
                        checkOnSelect:true,                      
                        striped: false,  
                        height:500,                    
                        rownumbers:true
                        ">
                        <thead>
                            <tr>
                                <th field="b-sel" data-options="width:100,checkbox:'true'">
                                </th>
                                <th field="GUID" hidden="true">
                                <th field="YWTypeKey" hidden="true"></th>
                                </th>
                                <th field="DocNum" align="center" width="80">
                                    单据编号
                                </th>
                                <th field="DocDate" lign="center" width="80">
                                    报销日期
                                </th>
                                <th field="DepartmentName" align="center" width="80">
                                    部门名称
                                </th>
                                <th field="PersonName" align="center" width="80">
                                    制单人

                                </th>
                                <th field="BillCount" align="center" width="80">
                                    附件数

                                </th>
                                <th field="Total" align="center" width="80">
                                    报销金额
                                </th>
                                <th field="DocMemo" align="center" width="200">
                                    摘要
                                </th>
                            </tr>
                        </thead>
                    </table>
                 </td>
                </tr>
                
            </table>
        </div>
        
    </div>
</div>
<script language="javascript">
    (function () {
        var datagridId = "Demand-CN_CashMain";
        var rowColCount = 4;
        $.setControl("divWest", datagridId,rowColCount);
    })();    
</script>

