<body>
    <div class="easyui-layout" id="parti-dataregion" data-options="fit:true" z="1">
        <div data-options="region:'north'" style="height: 51px">
            <div style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
                    <a href="#"  class="easyui-linkbutton" id="parti-sumbmit" data-options="plain:'true',iconCls:'icon-queding',
                        bindmethod:{ 'click': ['submitDetail'] },
                        bindparms:{'submitDetail':['parti','parti-CN_Detail']},
                        window:'b-window',
                        scope:'parti',status:'0',forbidstatus:[4]">确定</a>
                   <a href="#" class="easyui-linkbutton" id="parti-addrow" data-options="plain:'true',iconCls:'icon-zenghang',
                   bindmethod:{ 'click': ['detailAddRow'] },
                   bindparms:{'detailAddRow':['parti-CN_Detail']},
                   scope:'parti',forbidstatus:[4]">增行</a> 
                    <a href="#" class="easyui-linkbutton" id="parti-InsertRow"
                    data-options="plain:'true',iconCls:'icon-chahang',
                   bindmethod:{ 'click': ['detailInsertRow'] },
                   bindparms:{'detailInsertRow':['parti-CN_Detail']},
                   scope:'parti',forbidstatus:[4]">插行</a>  
                   <a href="#" class="easyui-linkbutton" id="parti-delrow"
                    data-options="plain:'true',iconCls:'icon-shanhang',
                   bindmethod:{ 'click': ['detailDeleteRow'] },
                   bindparms:{'detailDeleteRow':['parti-CN_Detail']},
                   scope:'parti',forbidstatus:[4]">删行</a>
                  <a href="#" class="easyui-linkbutton" id="parti-uprow"
                    data-options="plain:'true',iconCls:'icon-shangyitiao',
                   bindmethod:{ 'click': ['detailUpRow'] },
                   bindparms:{'delRow':['parti-CN_Detail']},
                   scope:'parti'">上一条</a>
                    <a href="#" class="easyui-linkbutton" id="parti-xiayih"
                    data-options="plain:'true',iconCls:'icon-xiayitiao',
                   bindmethod:{ 'click': ['detailDownRow'] },
                   bindparms:{'delRow':['parti-CN_Detail']},
                   scope:'parti'">下一条</a>
                <a href="#" class="easyui-linkbutton" id="parti-quxiao" data-options="plain:'true',iconCls:'icon-quxiao',
                    bindmethod:{ 'click': ['cancelDetail'] },
                    window:'b-window',
                   scope:'parti',status:'0'">取消</a>
            </div>
        </div>
        <div data-options="region:'center'" style="width: auto">
            <table border="0" style="height: 450px; width: 98%; margin: 5px">
                <tr>
                    <td colspan="8">
                        <div style="font-size: x-large; text-align: center;">
                            @ViewData["title"]</div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label for="field1">
                            序&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                    </td>
                    <td>
                        <input class="easyui-validatebox" id="parti-CN_Detail-OrderNum" data-options="forbidstatus:[-1]"
                            style="width: 137px"></input>
                    </td>
                    <td style="width: 60px">
                        <label for="field1">
                            金额</label>
                    </td>
                    <td>
                        <input class="easyui-numberbox" id="parti-CN_Detail-Total_CN" data-options="precision:2,forbidstatus:[4],groupSeparator:',',max:99999999.99"
                            style="width: 137px"></input>
                    </td>
                    <td style="width: 80px">
                        <label>
                            财政支付令</label>
                    </td>
                    <td colspan="3">
                        <input class="easyui-validatebox" id="parti-CN_PaymentNumber-PaymentNumber" style="width: 346px"
                            data-options="forbidstatus:[4]"></input>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label for="field1">
                            部门名称</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-GUID_Department" data-options="
                           columns:[[
                            {field:'GUID',hidden:'true'},
                            {field:'DepartmentKey',title:'部门编码',sortable:true,width:'100'},
                            {field:'DepartmentName',title:'部门名称',sortable:true,width:'225'}
                            ]],
                            width:350,
                            panelWidth:350,
                            method:'post',
                            delay:1500,
                            remoteUrl:'/Combogrid/Department',
                            idField:'GUID',
                            textField:'DepartmentName',
                            sortName:'DepartmentKey,DepartmentName',
                           filterField:'DepartmentKey,DepartmentName',
                           remoteSort:false,
                           forbidstatus:[4]
                           ">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label>
                            结算方式</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-GUID_SettleType" data-options="columns:[[
                            {field:'GUID',title:'GUID',hidden:true},
                            {field:'SettleTypeKey',title:'结算方式编码',width:'100'},
                            {field:'SettleTypeName',title:'结算方式名称',width:'225'}
                             ]],
                           panelWidth:350,
                           width:350,
                        remoteUrl:'/Combogrid/SettleType',
                        method:'get',
                        idField:'GUID',
                        textField:'SettleTypeName',
                        sortName:'SettleTypeKey',
                        filterField:'SettleTypeKey,SettleTypeName',
                        forbidstatus:[4]
                         ">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label for="field1">
                            银行账号</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-BankAccountNo" data-options="
                           columns:[[
                                {field:'GUID',hidden:'true'},
                                {field:'BankAccountNo',title:'银行账户',width:'205'},
                                {field:'BankAccountName',title:'银行账户名称',width:'120'}
                               ]],
                            width:350,
                            panelWidth:350,
                            remoteUrl:'/Combogrid/BankAccount',
                            method:'get',
                            idField:'GUID',
                            delay:1500,
                            filterField:'BankAccountNo,BankAccountName',
                            textField:'BankAccountNo',
                            sortName:'BankAccountNo',
                           bindmethod: { 'onCloseEx': ['setAssociate'] },
                           remoteSort:false,
                           forbidstatus:[4],
                           associate:
                              {
                                'parti-CN_Detail-GUID_BankAccount':['BankAccountName']
                              }">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label>
                            银行账户名称</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-GUID_BankAccount" data-options="columns:[[
                                {field:'GUID',hidden:'true'},
                                {field:'BankAccountNo',title:'银行账户',width:'205'},
                                {field:'BankAccountName',title:'银行账户名称',width:'120'}
                            ]],
                            width:350,
                            panelWidth:350,
                            remoteUrl:'/Combogrid/BankAccount',
                            method:'get',
                            idField:'GUID',
                            delay:1500,
                            filterField:'BankAccountNo,BankAccountName',
                            textField:'BankAccountName',
                            sortName:'BankAccountNo',
                            bindmethod: { 'onCloseEx': ['setAssociate'] },
                            associate:
                              {
                                'parti-CN_Detail-BankAccountNo':['BankAccountNo','BankAccountNo']
                              },
                           remoteSort:false,
                           forbidstatus:[4]
                         ">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label>
                            摘&nbsp;&nbsp;&nbsp;&nbsp;要</label>
                    </td>
                    <td colspan="7">
                        <input class="easyui-validatebox" id="parti-CN_Detail-DetailMemo" style="width: 100%"
                            data-options="forbidstatus:[4]"></input>
                    </td>
                    
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label>
                            项目名称</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-GUID_Project" data-options="columns:[[
                            {field:'GUID',hidden:'true'},{field:'ExtraCode',hidden:'true'},
                            {field:'FinanceProjectKey',hidden:'true'},
                            {field:'IsFinance',hidden:true},
                            {field:'GUID_FunctionClass',title:'GUID_FunctionClass',hidden:'true'},
                            {field:'ProjectKey',title:'项目编码',width:'110'},
                            {field:'ProjectName',title:'项目名称',width:'215'}
                            ]],
                            width:350,
                            panelWidth:350,
                            method:'post',
                            remoteUrl:'/Combogrid/Project',
                            CZZFField:'ExtraCode',
                            forbidstatus:[4],
                            sortName:'ProjectKey',
                            idField:'GUID',
                            textField:'ProjectName',
                            associate:
                            {
                                disableMap:{
                                     'parti-CN_PaymentNumber-GUID_FunctionClass':'true',
                                     'parti-CN_PaymentNumber-IsGuoKu':'true'
                                },
                                 'parti-CN_PaymentNumber-GUID_FunctionClass':['GUID_FunctionClass'],
                                 'parti-BX_Detail-FinanceProjectKey':['FinanceProjectKey'],
                                 'parti-CN_PaymentNumber-IsGuoKu':['IsFinance'],
                                 'parti-CN_Detail-ProjectKey':['ProjectKey','ProjectKey']
                            },
                           bindmethod: {'onCloseEx': ['setAssociate','setCCZFCode','setControlFun'] },
                           bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'],       
                                'setControlFun':{
                                    'parti-CN_PaymentNumber-GUID_FunctionClass':['combogrid','setAssociate'],
                                    'parti-CN_PaymentNumber-IsProject':['checkbox','setControlValue']
                            }},
                           filterField:'ProjectKey,ProjectName'
                         
                           ">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label>
                            项目编码</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_Detail-ProjectKey" data-options="columns:[[
                            {field:'GUID',hidden:'true'},{field:'ExtraCode',hidden:'true'},
                            {field:'FinanceProjectKey',hidden:'true'},
                            {field:'IsFinance',hidden:true},
                            {field:'GUID_FunctionClass',title:'GUID_FunctionClass',hidden:'true'},
                            {field:'ProjectKey',title:'项目编码',width:'110'},
                            {field:'ProjectName',title:'项目名称',width:'215'}
                            ]],
                            width:350,
                            panelWidth:350,
                            method:'post',
                           remoteUrl:'/Combogrid/Project',
                           CZZFField:'ExtraCode',
                           forbidstatus:[4],
                           sortName:'ProjectKey',
                           idField:'ProjectKey',
                           textField:'ProjectKey',
                            associate:
                            {
                                disableMap:{
                                     'parti-CN_PaymentNumber-GUID_FunctionClass':'true',
                                     'parti-CN_PaymentNumber-IsGuoKu':'true'
                                },
                                'parti-CN_PaymentNumber-GUID_FunctionClass':['GUID_FunctionClass'],
                                'parti-BX_Detail-FinanceProjectKey':['FinanceProjectKey'],
                                'parti-CN_PaymentNumber-IsGuoKu':['IsFinance'],
                                'parti-CN_Detail-GUID_Project':['GUID','ProjectName']
                            },
                            bindmethod: {'onCloseEx': ['setAssociate','setCCZFCode','setControlFun'] },
                            bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'],       
                                'setControlFun':{
                                    'parti-CN_PaymentNumber-GUID_FunctionClass':['combogrid','setAssociate'],
                                    'parti-CN_PaymentNumber-IsProject':['checkbox','setControlValue']
                            }},
                           filterField:'ProjectKey,ProjectName'
                           ">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label>
                            功能分类</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_PaymentNumber-GUID_FunctionClass" data-options="columns:[[
                            {field:'GUID',hidden:'true'},
                            {field:'FinanceCode',hidden:'true'},
                            {field:'IsProject',hidden:'true'},
                            {field:'FunctionClassKey',title:'功能分类编码',width:'110'},
                            {field:'FunctionClassName',title:'功能分类名称',width:'215'}
                            ]],
                            associate:
                            {
                                disableMap:{
                                     'parti-CN_PaymentNumber-IsProject':'true'
                                },
                                'parti-CN_PaymentNumber-IsProject':['IsProject']
                               
                            },
                           width:350,panelWidth:350,
                           method:'post',
                           CZZFField:'FinanceCode',
                           remoteUrl:'/Combogrid/FunctionClass',
                           hideValue:'GUID_FunctionClass',
                           forbidstatus:[4],
                           sortName:'FunctionClassKey',
                           idField:'GUID',
                           textField:'FunctionClassName',
                            bindmethod:{ 'onCloseEx':['setAssociate','setCCZFCode','setIsGK','setControlFun'] },
                            bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'
                                ],
                                'setControlFun':{
                                    'parti-CN_PaymentNumber-IsProject':['checkbox','setControlValue']
                                },
                                'setIsGK':[
                                     'parti-CN_PaymentNumber-IsGuoKu'
                            ]},
                           filterField:'FunctionClassKey,FunctionClassName'">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label for="field1">
                            是否国库</label>
                    </td>
                    <td>
                        <input class="easyui-checkbox" id="parti-CN_PaymentNumber-IsGuoKu" data-options="
                         bindmethod:{ 'onClick':['setCCZFCode'] },
                         forbidstatus:[4],
                         bindparms:{
                            'setCCZFCode':[
                                'parti-CN_Detail-GUID_BGType',
                                'parti-CN_PaymentNumber-GUID_FunctionClass',
                                'parti-CN_PaymentNumber-GUID_EconomyClass',
                                'parti-CN_PaymentNumber-GUID_ExpendType',
                                'parti-CN_PaymentNumber-GUID_BGResource',
                                'parti-CN_Detail-GUID_Project',
                                'parti-CN_PaymentNumber-IsGuoKu',
                                'parti-CN_PaymentNumber-PaymentNumber'

                        ]}
                        " type="checkbox">
                        </input>
                    </td>
                    <td style="width: 60px">
                        <label>
                            是否项目</label>
                    </td>
                    <td>
                        <input class="easyui-checkbox" id="parti-CN_PaymentNumber-IsProject" data-options="
                         bindmethod:{ 'onClick':['setControlValue','setCCZFCode'] },
                         forbidstatus:[4],
                         bindparms:{
                            'setControlValue':[
                                'parti-CN_Detail-GUID_BGType'],
                             'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'

                        ]}" type="checkbox">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label for="field1">
                            经济分类</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_PaymentNumber-GUID_EconomyClass" data-options="columns:[[
                                   {field:'GUID',hidden:'true'},
                                   {field:'EconomyClassKey',title:'经济分类编码',width:'110'},
                                   {field:'EconomyClassName',title:'经济分类名称',width:'215'}
                                   ]],width:350,panelWidth:350,method:'post',
                           remoteUrl:'/Combogrid/EconomyClass',
                           CZZFField:'EconomyClassKey',
                           idField:'GUID',
                           textField:'EconomyClassName',
                           hideValue:'GUID_EconomyClass',
                           bindmethod:{ 'onCloseEx':['setCCZFCode'] },
                           forbidstatus:[4],sortName:'EconomyClassKey',
                            bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'

                            ]},
                           filterField:'EconomyClassKey,EconomyClassName'">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label>
                            支出类型</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_PaymentNumber-GUID_ExpendType" data-options="columns:[[
                                {field:'GUID',hidden:'true'},
                                {field:'ExpendTypeKey',title:'支出类型编码',width:'110'},
                                {field:'ExpendTypeName',title:'支出类型名称',width:'215'}
                                ]],width:350,panelWidth:350,method:'post',
                           CZZFField:'ExpendTypeKey',
                           remoteUrl:'/Combogrid/ExpendType',
                            hideValue:'GUID_ExpendType',
                            sortName:'ExpendTypeKey',
                           idField:'GUID',
                           textField:'ExpendTypeName',
                           forbidstatus:[4],
                           bindmethod:{ 'onCloseEx':['setAssociate','setCCZFCode'] },
                           bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'

                            ]},
                           filterField:'ExpendTypeKey,ExpendTypeName'">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px">
                        <label for="field1">
                            预算来源</label>
                    </td>
                    <td colspan="3">
                        <select class="easyui-combogrid" id="parti-CN_PaymentNumber-GUID_BGResource" data-options="columns:[[
                                {field:'GUID',hidden:'true'},
                                {field:'BGSourceKey',title:'预算来源编码',width:'110'},
                                {field:'BGSourceName',title:'预算来源名称',width:'215'}
                                ]],width:350,panelWidth:350,method:'post',
                           remoteUrl:'/Combogrid/BgSource',
                            editable:false,
                            hideValue:'GUID_BGResource',sortName:'BGSourceKey',
                            bindmethod:{ 'onCloseEx':['setCCZFCode'] },
                            forbidstatus:[4],
                            bindparms:{
                                'setCCZFCode':[
                                    'parti-CN_Detail-GUID_BGType',
                                    'parti-CN_PaymentNumber-GUID_FunctionClass',
                                    'parti-CN_PaymentNumber-GUID_EconomyClass',
                                    'parti-CN_PaymentNumber-GUID_ExpendType',
                                    'parti-CN_PaymentNumber-GUID_BGResource',
                                    'parti-CN_Detail-GUID_Project',
                                    'parti-CN_PaymentNumber-IsGuoKu',
                                    'parti-CN_PaymentNumber-PaymentNumber'

                            ]},
                           idField:'GUID',textField:'BGSourceName',
                           filterField:'BGSourceKey,BGSourceName',
                           CZZFField:'BGSourceKey'
                          ">
                        </select>
                    </td>
                    <td style="width: 60px">
                        <label for="field1">
                            财政项目编码</label>
                    </td>
                    <td colspan="3">
                        <input class="easyui-validatebox" id="parti-CN_PaymentNumber-FinanceProjectKey" data-options="forbidstatus:[-1],forbidstatus:[4]"
                            style="width: 346px"></input>
                    </td>
                </tr>
            </table>
        </div>
        <input class="easyui-validatebox" id="parti-CN_Detail-GUID" type="hidden" keyattr="1"></input>
        <input class="easyui-combogrid" type="hidden" id="parti-CN_Detail-BGCodeKey" data-options="columns:[[
                            {field:'GUID',hidden:'true'},
                            {field:'GUID_EconomyClass',hidden:'true'},
                            {field:'BGCodeKey',title:'财政项目编码',width:'110'},
                            {field:'BGCodeName',title:'财政项目名称',width:'110'}
                            ]],width:350,panelWidth:350,method:'post',
                            remoteUrl:'/Combogrid/BGCode',
                            idField:'GUID',textField:'BGCodeKey',
                            forbidstatus:[4],
                            filterField:'BGCodeKey,BGCodeName'"></input>
        <input class="easyui-combogrid" type="hidden" id="parti-CN_Detail-GUID_Cutomer" data-options="columns:[[
                             {field:'GUID',title:'GUID',hidden:true},
                             {field:'CustomerName',title:'往来客户名称',width:'250'},
                             {field:'CustomerKey',title:'往来客户编码',width:'100'}]],
                            width:350,
                            panelWidth:350,
                            method:'post',
                            remoteUrl:'/Combogrid/Customer',
                            forbidstatus:[4],
                            idField:'GUID',
                            textField:'CustomerName',
                            filterField:'CustomerKey,CustomerName'"></input>
    </div>
    <label id="parti-extendregion" style="display: none">
        <input id="parti-status" type="text"></input>
        <input id="initscope" type="text" value=@ViewData["scope"]></input>
        <input id="initstatus" type="text" value=@ViewData["status"]></input>
        <input id="initguid" type="text" value=@ViewData["guid"]></input>
        <div id="parti-b-window" style="padding: 10px" line="true">
        </div>
    </label>
</body>
