<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BusinessEdmxEntities" connectionString="metadata=res://*/BusinessEdmx.csdl|res://*/BusinessEdmx.ssdl|res://*/BusinessEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008r2;Initial Catalog=baoth_ngccnew;Persist Security Info=True;User ID=sa;Password=100080;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OAEntities" connectionString="metadata=res://*/OAEdmx.csdl|res://*/OAEdmx.ssdl|res://*/OAEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.220;Initial Catalog=baoth_cnp1;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>