

<script type="text/javascript">
    $(document).ready(function () {
        //设置默认值
//        $('#bmyshzb_grid').datagrid({
//            height: $('body').height() - 560
//        });
        SetDefaultData()
        //绑定事件
        BindEvent();
        //加载数据
        LoadData();
    })
    //设置默认数据
    function SetDefaultData() {
        $('#bmyshzb-history-Year').combo('setValue', new Date().getFullYear());
        $('#bmyshzb-history-Year').combo('setText', new Date().getFullYear());
    }

   //获取数据
    function GetData() {
        $("#bmyshzb_RMBUnit").html($('#bmyshzb-history-RMBUnit').combo('getText'))
        $("#bmyshzb_Year").html($('#bmyshzb-history-Year').combo('getText'))
       
        var data = $.view.retrieveData("bmyshzb", "historydatafilter");
        var url;
        var tcondition;
        var result = {};
        if (data && data.m) {
            for (var i = 0, j = data.m.length; i < j; i++) {
                var temp = data.m[i];
                if (!temp && !temp.v) continue;
                result[temp.n] = temp.v;
            }
        }

        var treeCondition = [];
        //树节点
        var r = $("#bmyshzb-tree-dep").tree('getSelected');
        if (r) {
            tcondition = { treeModel: r.attributes.m, treeValue: r.id };
            treeCondition.push(tcondition);
            $("#bmyshzb_Department").html(r.text)
            //personCount 人数
            $('#bmyshzb_PersonCount').html(r.attributes.personCount);
        }

        //预算步骤
        r = $("#bmyshzb-tree-step").tree('getSelected');
        if (r) {
            tcondition = { treeModel: r.attributes.m, treeValue: r.attributes.BGStepKey };
            treeCondition.push(tcondition);

        }

        result = $.extend(result, { TreeNodeList: treeCondition });
        $('#bmyshzb_grid').datagrid({
             height:$('body').height()-180  ,
            rownumbers: true,
            url: '/Report/GetLoadBMYSHZBData/',
            queryParams: { condition: JSON.stringify(result) },
            columns: [[]]
        });

    }
    //导出Excel
     function ExportExcel () {
            var l = $('#bmyshzb_grid').datagrid('getRows');
            if (l <= 1) {
                $.messager.alert('系统提示', '没有要输出的数据！');
                return;
            }
            var tcondition = {};
            //部门树
            var r = $("#bmyshzb-tree-dep").tree('getSelected');
            if (r) {
                tcondition["DepartmentName"] = r.text;
                tcondition["PersonCount"] = r.attributes.personCount;
            }
            tcondition["Year"] = $('#bmyshzb-history-Year').combo('getValue');
            tcondition["RMBUnit"] = $('#bmyshzb-history-RMBUnit').combobox('getText');
            var result = $.extend(tcondition, {})

            var url = $.format("/Report/ExportBMYSHZBReport?ReportHead={0}", JSON.stringify(result))
            window.open(url);
        }
        //绑定事件
        function BindEvent() {
            $('#bmyshzb-select').bind('click', function () {
                GetData();
            })
            $('#bmyshzb-shuchu').bind('click', function () {
                ExportExcel();
            })
            $('#bmyshzb-tuichu').bind('click', function () {
                $($(parent.document).find("#closeTab")).click();
            })
        }
        //加载数据
        function LoadData() {
            //部门
            $("#bmyshzb-tree-dep").tree({
                url: '/Tree/GetReportDepartmentTree',
                method: 'post',
                onLoadSuccess: function (node, data) {
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].isCheck == true) {
                                $("#bmyshzb-tree-dep li:eq(" + i + ")").find("div").first().addClass("tree-node-selected");
                            }
                        }
                    }
                }
            });
            //预算步骤
            $("#bmyshzb-tree-step").tree({
                url: '/Tree/GetBGStepTree',
                method: 'post',
                onLoadSuccess: function (node, data) {
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].isCheck == true) {
                                $("#bmyshzb-tree-step li:eq(" + i + ")").find("div").addClass("tree-node-selected");
                            }
                        }
                    }
                }
            });
            //设置Grid的行背景颜色
//            $("#bmyshzb_grid").datagrid({
//                rowStyler: function (index, row) {
//                    if (row.bgcodekey && row.bgcodekey.length == 2) {
//                        return "background-color:#CCFFCC";
//                    }
//                }
//            });
            $('#bmyshzb-tuichu').bind('click', function () {

                parent.window.CloseTabs();
            })   
        }
        

</script>

<div class="easyui-layout" id="bmyshzb-dataregion" data-options="fit:true" z="1">
    <div data-options="region:'west',split:'true'" style="width: 200px">
    <div class="easyui-tabs" data-options="fit:true">
        <div title="部门">
            <ul id="bmyshzb-tree-dep" data-options="">
            </ul>
        </div>
        <div title="预算步骤">
            <ul id="bmyshzb-tree-step" data-options="
               ">
            </ul>
        </div>
    </div>
</div>
    <div data-options="region:'north'" style="height: 51px;">
        <div style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
            <a href="#" class="easyui-linkbutton" id="bmyshzb-print"
                    data-options="plain:'true',iconCls:'icon-dayin',
                scope:'bmyshzb'">打印</a>
                 <a href="#" b-type="1"  class="easyui-linkbutton" id="bmyshzb-shuchu"
                    data-options="plain:'true',iconCls:'icon-shuchu',                 
                forbidstatus:[-1]">输出</a> 
             <a href="#" class="easyui-linkbutton" id="bmyshzb-select" data-options="plain:'true',iconCls:'icon-chaxun',
                scope:'bmyshzb',
                forbidstatus:[-1]">查询</a>               
            <a href="#" class="easyui-linkbutton" id="bmyshzb-tuichu"
                data-options="plain:'true',iconCls:'icon-tuichu',
            scope:'bmyshzb'">退出</a>
        </div>
    </div>
    <div data-options="region:'center'">
    <div  class="easyui-layout" data-options="fit:true">
        <div b-type="1" id="bmyshzb-historydatafilter" data-options="region:'north',height:120" style="width: 100%; margin: 0px; padding: 0px;">              
            <table border="0" style="height: 40px; padding: 0px; margin: 0">
                <tr>
                    <td>
                        <label for="field1" style="width:80px;">预算年度</label>
                    </td>
                    <td>
                        <select id="bmyshzb-history-Year" class="easyui-combobox"  data-options="editable:false"; style="width:80px;">  
                            <option value="2011">2011</option>  
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>  
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>    
                            <option value="2017">2017</option>  
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>    
                            <option value="2020">2020</option>  
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>    
                            <option value="2023">2023</option>  
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>    
                            <option value="2026">2026</option>  
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>    
                            <option value="2029">2029</option>  
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>    
                            <option value="2032">2032</option>  
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>    
                            <option value="2035">2035</option>  
                            <option value="2036">2036</option>
                            <option value="2037">2037</option>    
                            <option value="2038">2038</option>  
                            <option value="2039">2039</option>
                            <option value="2040">2040</option>    
                            <option value="2041">2041</option>  
                            <option value="2042">2042</option>
                            <option value="2043">2043</option>    
                            <option value="2044">2044</option>  
                            <option value="2045">2045</option>
                            <option value="2046">2046</option>    
                            <option value="2047">2047</option>  
                            <option value="2048">2048</option>
                            <option value="2049">2049</option>    
                            <option value="2050">2050</option>  
                        </select> 
                    </td>
                        
                    <td style="width: 60px">
                            金额单位
                    </td>
                    <td>
                        <select id="bmyshzb-history-RMBUnit" class="easyui-combobox" 
                            data-options="editable:false,value:10000"
                            style="width: 80px;">
                                <option value="1">元</option>
                                <option value="100">百元</option>
                                <option value="1000">千元</option>
                                <option value="10000" selected=selected>万元</option>
                                <option value="100000">十万元</option>
                                <option value="1000000">百万元</option>
                        </select>
                    </td>
                       
                </tr>                  
            </table>               
            <div style="width: 100%;">
            <table border="0" style="height: 40px; width: 100%; padding: 0px; margin: 0">
                <tr>
                    <td colspan="18" field="" style="font-size: x-large; text-align: center; height: 40px;">
                        部门预算汇总表
                    </td>
                </tr>
                    <tr>
                        
                         <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                        text-align: right;">
                        <label> 部门：</label> 
                        </td>
                        <td field="" style="text-align: center; width: 180px; height: 18px; float: left;
                            text-align: left;">
                                <div id="bmyshzb_Department"></div>
                        </td>
                        <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                        text-align: right;">
                        <label> 预算年度：</label> 
                        </td>
                        <td field="" style="text-align: center; width: 180px; height: 18px; float: left;
                            text-align: left;">
                                <div id="bmyshzb_Year"></div>
                        </td>
                        <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                        text-align: right;">
                        <label> 人数：</label> 
                        </td>
                        <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                            text-align: left;">
                                <div id="bmyshzb_PersonCount"></div>
                        </td>
                        <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                        text-align: right;">
                        <label> 货币单位：</label> 
                        </td>
                        <td field="" style="text-align: center; width: 80px; height: 18px; float: left;
                            text-align: left;">
                                <div id="bmyshzb_RMBUnit"></div>
                        </td>
                       
                </tr>
            </table>
        </div>
        </div>
     
        <div data-options="region:'center'">                             
             <table style="padding:5px"  class="easyui-datagrid" id="bmyshzb_grid" data-options="
                    rownumbers:true,
                    singleSelect:true,
                    scope:'bmyshzb'
                    ">
                <thead>
                    <tr>
                            
                        <th field="bgcodekey" width="100px;" align="left" halign="center" >
                            科目编号
                        </th>
                        <th field="bgcodename" width="200px;" align="left" halign="center">
                            科目名称
                        </th>                                                     
                        <th field="totalbgall" width="150px;" align="right" halign="center">
                            合计
                        </th>
                         <th field="" width="100px;" align="left" halign="center" >
                            占总收入比例
                        </th>
                        <th field="" width="200px;" align="left" halign="center">
                            人均
                        </th>         
                    </tr>
                </thead>
                   
            </table>
        </div>
     </div>
    </div>
    <label id="bmyshzb-extendregion" style="display: none"></label>
    <input id="bmyshzb-status" type="text"></input>
    <input id="initscope" type="text" value="bmyshzb"></input>
    <input id="initstatus" type="text" value=@ViewData["status"]></input>
    <input id="initguid" type="text" value=@ViewData["guid"]></input>
</div>

