 <style>
    #bmgzxmhz-DepartmentName
    {
        
    }
 </style>
 <script type="text/javascript">
     $.formatNum = function (s1) {
         var p = /(\d+)(\d{3})/;
         s1 = s1 ? s1 : 0.00;
         s1 = parseFloat(s1).toFixed(2);
         while (p.test(s1)) {
             s1 = s1.replace(p, "$1,$2");
         }
         return s1;
     }
     $(document).ready(function () {
         $('#bmgzxmhz_grid').edatagrid({
             width: $('body').width(),
             height: $('body').height() - 160,
            pagination:false,
            method:'get',
            singleSelect:true,
            checkOnSelect:true,
            editable:false,
            scope:'ysbz',
            single:false,
             singleSelect: true,
             columns: [[
                         { field: 'XH', title: '序号', width: 50, halign: 'center', align: 'left', rowspan: 2 },
                         { field: 'PersonName', title: '姓名', width: 80, halign: 'center', align: 'left', rowspan: 2 },
                         { field: 'SFZJType', title: '身份证件类型', width: 100, halign: 'center', align: 'left', rowspan: 2 },
                         { field: 'IDCard', title: '身份证号码', width: 120, halign: 'center', align: 'left', rowspan: 2 },
                         { field: 'SDXM', title: '所得项目', width: 210, halign: 'center', align: 'left', rowspan: 2 },
                         { field: 'SDQJ', title: '所得期间', width: 80, halign: 'center', align: 'center', rowspan: 2 },
                         { field: 'ItemValue', title: '收入额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'mse', title: '免税所得', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: '', title: '税前扣除项目', width: 600, halign: 'center', align: 'right', colspan: 8 },
                         { field: 'JCFY', title: '减除费用', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'zxkcdjze', title: '准予扣除的捐赠额', width: 120, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'jse', title: '应纳税所得额', width: 120, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'sl', title: '税率%', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'sskcs', title: '速算扣除数', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'dks', title: '应纳税额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'jmse', title: '减免税额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'ykjse', title: '应扣缴税额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'ykjse1', title: '已扣缴税额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'ybtse', title: '应补(退)税额', width: 80, halign: 'center', align: 'right', rowspan: 2 },
                         { field: 'remark', title: '备注', width: 80, halign: 'center', align: 'left', rowspan: 2 }
                     ], [
                         { field: 'ylbx', title: '基本养老保险费', width: 100, halign: 'center', align: 'right' },
                         { field: 'ylbx1', title: '基本医疗保险费', width: 100, halign: 'center', align: 'right' },
                         { field: 'ksybx', title: '失业保险费', width: 80, halign: 'center', align: 'right' },
                         { field: 'kzfgjj', title: '住房公积金', width: 80, halign: 'center', align: 'right' },
                         { field: 'czyz', title: '财产原值', width: 80, halign: 'center', align: 'right' },
                         { field: 'yxkcdesf', title: '允许扣除的税费', width: 100, halign: 'center', align: 'right' },
                         { field: 'qt', title: '其他', width: 80, halign: 'center', align: 'right' },
                         { field: 'hj', title: '合计', width: 80, halign: 'center', align: 'right' }
                    ]]
             
         });
        
         $('#bmgzxmhz-tuichu').bind('click', function () {
             parent.window.CloseTabs();
         })

         $('#bmgzxmhz-select').bind('click', function () {
             GetData();
         })
      

         $('#bmgzxmhz-shuchu').bind('click', function () {
             ExportExcel();
         })
         var d = new Date();
         var year = d.getFullYear();
         var month = d.getMonth()+1;
         $('#bmgzxmhz-SA-Year').combobox('setValue', year);
         $('#bmgzxmhz-SA-EndMonth').combobox('setValue', month);
     })
     var ExportExcel = function () {
         var l = $('#bmgzxmhz_grid').datagrid('getRows');
         if (l <= 1) {
             $.messager.alert('系统提示', '没有要输出的数据！');
             return;
         }
         var year = $('#bmgzxmhz-SA-Year').combobox('getValue');
         var emonth = $('#bmgzxmhz-SA-EndMonth').combobox('getValue');
         var planID = 1; // $('#bmgzxmhz-SAPlan').combobox('getValue');
         var parmas = $.format("Year={0}&Month={1}&PlanId={2}", year, emonth, planID);
         window.open("/Report/ExportsdsbgReport?" + parmas);
     }
     function GetData() {
        var year = $('#bmgzxmhz-SA-Year').combobox('getValue');
        var emonth = $('#bmgzxmhz-SA-EndMonth').combobox('getValue');
        var planID = 1; // $('#bmgzxmhz-SAPlan').combobox('getValue');
        $('#bmgzxmhz_grid').datagrid('loading');
        $.ajax({
            url: "/Report/GetLoadsdsbgData",
            data: { Year: year, Month: emonth, PlanId: planID },
            dataType: "json",
            type: "POST",
            error: function (xmlhttprequest, textStatus, errorThrown) {
                $('#bmgzxmhz_grid').datagrid('loaded');
                $.messager.alert("错误", $.view.warning, 'error');
            },
            success: function (data) {
                $('#bmgzxmhz_grid').datagrid('loaded');
                $('#bmgzxmhz_grid').datagrid('loadData', data);
            }
        });

    }
   
</script>
<body>
    <div class="easyui-layout" id="bmgzxmhz-dataregion" data-options="fit:true" z="1">
       <div data-options="region:'north'" style="height: 51px;">
            <div style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
            <a href="#" b-type="1"  class="easyui-linkbutton" id="bmgzxmhz-shuchu"
                data-options="plain:'true',iconCls:'icon-shuchu',                 
                forbidstatus:[-1]">输出</a>
            <a href="#" class="easyui-linkbutton" id="bmgzxmhz-select" data-options="plain:'true',iconCls:'icon-chaxun',
                  scope:'bmgzxmhz',
                  forbidstatus:[-1]">查询</a>           
            <a href="#" class="easyui-linkbutton" id="bmgzxmhz-tuichu"
                   data-options="plain:'true',iconCls:'icon-tuichu',
                   bindmethod:{ 'click': ['closeTab'] },
                   scope:'bmgzxmhz'">退出</a>
            </div>
        </div>
        <div data-options="region:'center'">
            <div class="easyui-layout" data-options="fit:true">
            <div b-type="1" id="bmgzxmhz-historydatafilter" data-options="region:'north',height:110" style="width: 100%; margin: 0px; padding: 0px;">
              
                <table border="0" style="height: 40px; padding: 0px; margin: 0">
                    <tr>
                        <td>
                            <label for="field1" style="width:80px;">报税年</label>
                        </td>
                        <td>
                            <select id="bmgzxmhz-SA-Year" class="easyui-combobox"  data-options="editable:false"; style="width:80px;">  
                                <option value="2011">2011</option>  
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>  
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>    
                                <option value="2017">2017</option>  
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>    
                                <option value="2020">2020</option>  
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>    
                                <option value="2023">2023</option>  
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>    
                                <option value="2026">2026</option>  
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>    
                                <option value="2029">2029</option>  
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>    
                                <option value="2032">2032</option>  
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>    
                                <option value="2035">2035</option>  
                                <option value="2036">2036</option>
                                <option value="2037">2037</option>    
                                <option value="2038">2038</option>  
                                <option value="2039">2039</option>
                                <option value="2040">2040</option>    
                                <option value="2041">2041</option>  
                                <option value="2042">2042</option>
                                <option value="2043">2043</option>    
                                <option value="2044">2044</option>  
                                <option value="2045">2045</option>
                                <option value="2046">2046</option>    
                                <option value="2047">2047</option>  
                                <option value="2048">2048</option>
                                <option value="2049">2049</option>    
                                <option value="2050">2050</option>  
                            </select> 
                        </td>

                         <td>
                            <label for="field1"  style="width:80px;">报税月</label>
                        </td>
                        <td>
                            <select id="bmgzxmhz-SA-EndMonth" class="easyui-combobox"  data-options="editable:false"; style="width:80px;">  
                                <option value="1">1</option>  
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>  
                                <option value="5">5</option>
                                <option value="6">6</option>    
                                <option value="7">7</option>  
                                <option value="8">8</option>
                                <option value="9">9</option>    
                                <option value="10">10</option>  
                                <option value="11">11</option>  
                                <option value="12">12</option>  
                            </select> 
                        </td>         
                                    
                                     
                    </tr>
                </table>   
                           
                <div style="width: 100%;">
                <table border="0" style="height: 20px; width: 100%; padding: 0px; margin: 0">
                    <tr>
                        <td colspan="18" field="" style="font-size: x-large; text-align: center; height: 40px;">
                            扣缴个人所得税报告表
                        </td>
                    </tr>
                </table>
                </div>
            </div>
          
            <div data-options="region:'center',fit:true"">
                <table class="easyui-edatagrid" id="bmgzxmhz_grid">
                   
                </table>
            </div>
            </div>
        </div>
       
</div>
</body>
