.todotask{width: 100%;margin-top:0px;margin-left:0px;border-bottom:1px solid #5BC22E;background-color:#FFFFFF;border-top:2px solid #999999;opacity:0.85;}
.todotask1{width: 100%;margin-top:0px;margin-left:0px;border-bottom:1px solid #5BC22E;background-color:#FFFFFF;border-top:2px solid #999999;opacity:0.85;}
.todotask ul li a{padding-bottom:0px;font-size:12px;height:12px;color:black;font-family:FangSong;}
.todotask ul li table tr td{padding-bottom:0px;font-size:12px;height:12px;color:black;font-family:FangSong;}
/*.line p img{background-image:url(../../images/Home/line.png);background-repeat:no-repeat;width:120px;height:7px;}*/
/*.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 5px; outline: none;color:#529669;margin-top: -5px; }
.tab a:hover { text-decoration:none; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #74CB4D; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; padding: 10px; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;border-bottom: 0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;border-top:1px solid #74CB4D; }
.panel-container { margin-bottom: 10px; }*/

.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #FBFBFB; border: solid 0px #D6D6D6; background:url(../../images/Home/theader2.png) no-repeat; border-bottom: none; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; }
.tab a { font-size: 12px; line-height: 2em; display: block; padding: 0 5px; outline: none;text-decoration:none; }
.tab a:hover { text-decoration:none; }
.tab.active { /*background: #FAFAFA;*/ background:url(../../images/Home/theader1.png) no-repeat; padding-top: 0px; position: relative; top: 0px; border-color: #D6D6D6; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #D6D6D6 0px;margin-left:-5px;border-top:0px;border-bottom:0px; border-left: solid #D6D6D6 1px;}/*padding: 10px 0 0 1px;*/
.panel-container { margin-bottom: 0px; }
.etabs li{margin: 0 -6px -3px 0;}

/*待办任务分页控件样式表*/
.Pagination{float: left;height: 25px;_height: 45px; line-height: 20px;margin-right: 15px;_margin-right: 5px; color: #565656;margin-top: 7px;_margin-top: 20px; clear:both;}
.Pagination span{margin-right: 5px;display: block;float: left;margin-left: 3px;margin-top: -2px;}
.Pagination span b{padding: 0 2px;}
.Pagination div {float:left}
.Pagination a{ font-size: 12px;text-decoration: none;display: block;float: left;color: #565656;border: 1px solid #cacaca;height: 14px;line-height: 14px;padding: 0 5px;margin: 0 2px;}
.Pagination .Ellipsis {line-height: 32px;overflow: hidden; display:none;}
cite.FormNum{display: block;float: left;line-height: 14px;height: 14px; font-style:  normal; padding-left:3px;}
#PageNum{ color:#777;width: 24px;height: 14px;line-height: 14px; border: 1px solid #cacaca; margin:0 3px; text-align:center;}
.Pagination a:hover,.Pagination a.PageCur{background-color: #A8A8A8;border: 1px solid #d64c01;color: #ffffff; }
.newslist{line-height:24px;height:70%;border-top:2px solid #999999;}
.newslist ul li {height: 24px;}
.newslist a{color:#444}
.newslist ul li div {float: left;}