@{
    Layout = "~/Views/master/_Layout.cshtml";
    ViewBag.Title = "角色设置";
}
<script src="../../Scripts/jc/jc.js" type="text/javascript"></script>
<div class="easyui-layout" id="jssz-dataregion" data-options="fit:true" z="1">
    <div data-options="region:'north'" style="height: 51px;">
        <div style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
                ` <a href="#" class="easyui-linkbutton" id="jssz-add" 
                  data-options="plain:'true',iconCls:'icon-xinzeng',
                  bindmethod:{'click':['newStatus']},scope:'jssz',status:'1',                        
                  forbidstatus:[1,2,3]">新增</a> 
                  
                  <a href="#" class="easyui-linkbutton"
                  id="jssz-edit" data-options="plain:'true',iconCls:'icon-xiugai',
                  treeId:['jssz-tree-role'],
                  bindmethod:{'click':['setStatusexamine']},scope:'jssz',status:'2',                       
                  forbidstatus:[1,2,3]">修改</a> 
                  
                  <a href="#" class="easyui-linkbutton" id="jssz-remove"
                  data-options="plain:'true',iconCls:'icon-shanchu',
                  treeId:['jssz-tree-role'],
                  bindmethod:{ 'click': ['setStatusexamine'] },scope:'jssz',status:'3',
                  forbidstatus:[1,2,3]">删除</a> 
                     
                  <a href="#" class="easyui-linkbutton"
                  id="jssz-save" data-options="plain:'true',iconCls:'icon-baocun',
                  JCDA:true,
                  treeId:['jssz-tree-role'],
                  NewIdStatus:'1',
                  bindmethod:{ 'click': ['saveDoc'] },
                  bindparms:{'saveDoc':['/JCjsyh/Savejssz']},
                  scope:'jssz',status:'4',forbidstatus:[4]">保存</a> 

                  <a href="#" class="easyui-linkbutton" id="jssz-cancel"
                  data-options="plain:'true',iconCls:'icon-quxiao', 
                  scope:'jssz',forbidstatus:[4],
                  bindmethod:{ 'click': ['cancel'] }">取消</a>
                   
                  <a href="#" class="easyui-linkbutton"
                  id="jssz-close" data-options="plain:'true',iconCls:'icon-tuichu',
                  bindmethod:{ 'click': ['closeTab'] },
                  scope:'jssz'">退出</a>
        </div>
    </div>
    <div data-options="region:'west',split:'true'" style="width: 250px">
        <div class="easyui-tabs" data-options="fit:true">
            <div title="角色">
                <ul class="easyui-tree" id="jssz-tree-role" data-options="
                    msg:'角色',
                    m:'SS_Role',
                    associate:{
                            'jssz-SS_Role-RoleKey':['RoleKey'],
                            'jssz-SS_Role-RoleName':['RoleName'],
                            'jssz-SS_Role-GUID':['GUID'],
                            'jssz-SS_Role-IsStop':['IsStop']
                  },
                  associateEX:{
                    @*修改时不做任何处理*@
                  },
                  bindmethod:{'onClick': ['setAsso'] },
                  forbidstatus:[3],
                  checkbox:false,
                  url:'/Tree/GetJCRoleTree',
                  scope:'jssz',
                  retStatus:'4',
                  customBindFirst:true,
                  IsDocStatusAssociate:true,
                  method:'post'">
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center',fit:true">
            <table border="0px" style="width:100%; padding: 0px;height: 150px;">
                            <tr>
                                <td style="width:6%">
                                    <label for="field1" id="lbl-RoleKey">
                                        编&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                </td>
                                <td style="width:15%">
                                    <input class="easyui-validatebox" id="jssz-SS_Role-RoleKey" style="width: 90%" data-options="forbidstatus:[4,3]"></input>
                                </td>
                                <td style="width:6%">
                                    <label for="field" id="lbl-RoleName">
                                        角色名称</label>
                                </td>
                                 <td style="width:73%">
                                    <input class="easyui-validatebox" id="jssz-SS_Role-RoleName" style="width: 50%"
                                        data-options="forbidstatus:[4,3]"></input>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    <input type="checkbox" class="easyui-checkbox" id="jssz-SS_Role-IsStop" data-options="forbidstatus:[4,3]"></input>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td style="text-align:left;">
                                    是否停用
                                </td>
                            </tr>
                        </table>
    </div>
    <input class="easyui-validatebox" id="jssz-SS_Role-GUID" type="hidden" keyattr="1"></input>
    </div>
    <label id="jssz-extendregion" style="display: none">
        <input id="jssz-status" type="text"></input>
        <input id="initscope" type="text" value="jssz"></input>
        <input id="initstatus" type="text" value="4"></input>
        <input id="initController" type="text" value="JCjsyh"></input>
        <input id="initguid" type="text" value=@ViewData["guid"]></input>
        <div id="jssz-b-window" line="true">
        </div>
    </label>
    <iframe id="printIframe" style="display: none"></iframe>
