@{
    Layout = "~/Views/master/_Layout.cshtml";
    ViewBag.Title = "通知公告";
}
<script src="../../Scripts/jc/jc.js" type="text/javascript"></script>
<link href="../../Content/commonjs/upload/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Content/commonjs/upload1/swfupload.js"></script>
<script type="text/javascript" src="../../Content/commonjs/upload1/swfupload.queue.js"></script>
<script type="text/javascript" src="../../Content/commonjs/upload1/fileprogress.js"></script>
<script type="text/javascript" src="../../Content/commonjs/upload1/handlers.js"></script>
<script type="text/javascript">
    var swfu;
    window.onload = function () {
        var settings = {    //定义参数配置对象
            flash_url: "../../Content/commonjs/upload/swfupload.swf",
            flash9_url: "../../Content/commonjs/upload/swfupload_fp9.swf",
            upload_url: "/UploadFile/UploadFile",
            post_params: { "PHPSESSID": "" },
            file_size_limit: "100 MB",  //文件大小，单位MB
            file_types: "*.*",
            file_types_description: "All Files", //文件类型描述
            file_upload_limit: 5,  //限定用户 一次性最多上传多少个文件
            file_queue_limit: 5,
            custom_settings: {  //自定义设置
                progressTarget: "fsUploadProgress",
                storId: 'tzgg-OA_FileTempModel-GUID_OA_FileTemp',
                FileName: 'tzgg-OA_Notice-FileName'
            },
            debug: true,

            // Button settings
            button_image_url: "../../Content/images/XPButtonNoText_160x22.png",
            button_width: "140",
            button_height: "29",
            button_disabled: true,    //改变按钮状态
            button_placeholder_id: "spanButtonPlaceHolder",
            button_text: '<span class="theFont" >上传附件</span>',
            button_text_style: ".theFont { font-size: 16px;background-color: #C0C0C0; }",
            button_text_left_padding: 12,
            button_text_top_padding: 3,

            // The event handler functions are defined in handlers.js
            swfupload_preload_handler: preLoad,
            swfupload_load_failed_handler: loadFailed,
            //            file_queued_handler: fileQueued,
            //file_queued_handler: cancelQueue,     //取消
            file_queue_error_handler: fileQueueError,
            file_dialog_complete_handler: fileDialogComplete,
            upload_start_handler: uploadStart,  //启动上传
            upload_progress_handler: uploadProgress,
            upload_error_handler: uploadError,
            upload_success_handler: uploadSuccess_tzgg,     //成功之后返回值绑定
            upload_complete_handler: uploadComplete,
            queue_complete_handler: queueComplete	// Queue plugin event
        };
        //实例化一个SWFUpload，传入参数配置对象
        swfu = new SWFUpload(settings);
        $('#tzgg-add').bind('click', function () {
            $('#fsUploadProgress').children().remove();
            swfu.setButtonDisabled(false);
        });
       
    }
    $.extend($.fn.tree.methods, {
        setAssoAfter: function (node, status) {
            if (status == 2) {
                return;
            }
            var opts = $('#tzgg-tree-ren').tree('options');
            var upLoadId = '#' + opts.upLoadId;
            if (!node.attributes.AnnexName) {
                $(upLoadId).children().remove();
                return;
            }
            var arcId = node.attributes.GUID_NoticeAnnex.split(',');
            var arcName = node.attributes.AnnexName.split(',');
            var pageState = $.view.getStatus(opts.scope);

            if (arcId.length == 1) {
                $(upLoadId).children().remove();
                var progress = new FileProgress({ id: node.attributes.GUID_NoticeAnnex, name: node.attributes.AnnexName }, 'fsUploadProgress');
                progress.setComplete();
                progress.setStatus("完成");
                var $obj = $.fn.tree.methods["setIsVisibile"].call(this, upLoadId);
                if (pageState == '4') {
                    $obj.find('div a.progressContainerA').hide();
                }
            } else {
                $(upLoadId).children().remove();
                for (var i = 0, j = arcId.length; i < j; i++) {
                    var progress = new FileProgress({ id: arcId[i], name: arcName[i] }, 'fsUploadProgress');
                    progress.setComplete();
                    progress.setStatus("完成");
                }
                if (pageState == '4') {
                    $(upLoadId).children().find('a.progressContainerA').hide();
                }

            }


            var storId = '#tzgg-OA_FileTempModel-GUID_OA_FileTemp';
            $(storId).val(node.attributes.GUID_NoticeAnnex);

        },
        setIsVisibile: function (id) {
            var $children = $(id).children();
            var $lastChild = $children.last('div');
            if (!!$children.length) {
                $children.remove();
                $lastChild.appendTo($(id));
            }
            return $lastChild;
        }

    });
    $.extend($.fn.linkbutton.methods, {
        cancelAfter: function () {
            $('#fsUploadProgress').children().remove();
            swfu.setButtonDisabled(true);
        },
        setStatusBefore: function (status) {

            if (status == "3" || status == "2") {
                var selNode = $('#tzgg-tree-ren').tree('getSelected');
                if (!selNode) {
                    $.messager.alert('提示', '请选择左侧树进行操作');
                    return false;
                }
            }
        },
        setStatusAfter: function (status) {
            if (status == "2") {
                var opts = $(this).linkbutton('options');
                var treeId = '#' + opts.treeId;
                var upLoadId = '#' + opts.upLoadId;
                var selNode = $(treeId).tree('getSelected');
                if (!selNode.attributes.AnnexName) {
                    swfu.setButtonDisabled(false);
                    return;
                }
                var arcId = selNode.attributes.GUID_NoticeAnnex.split(',');
                var arcName = selNode.attributes.AnnexName.split(',');
                if (arcId.length == 1) {
                    $(upLoadId).children().remove();
                    var progress = new FileProgress({ id: selNode.attributes.GUID, itemId: selNode.attributes.GUID, name: selNode.attributes.AnnexName }, 'fsUploadProgress');
                    progress.setComplete();
                    progress.setStatus("完成");
                } else {
                    $(upLoadId).children().remove();
                    for (var i = 0, j = arcId.length; i < j; i++) {
                        var progress = new FileProgress({ id: arcId[i], itemId: arcId[i], name: arcName[i] }, 'fsUploadProgress');
                        progress.setComplete();
                        progress.setStatus("完成");
                    }
                }
                swfu.setButtonDisabled(false);
            }
        },
        afterSave: function (jq, status) {
            $('#fsUploadProgress').children().remove();
            $('#tzgg-OA_FileTempModel-GUID_OA_FileTemp').val('');
            $('#tzgg-tree-ren').tree('reload');
            $.view.setViewEditStatus('tzgg', 4);
        }
    });
</script>

<div class="easyui-layout" id="tzgg-dataregion" data-options="fit:true" z="1">
    <div data-options="region:'north'" style="height: 51px;">
        <div style="padding: 2px 0 2px 2px; background: #fafafa; border: 1px solid #ccc;">
            ` <a href="#" class="easyui-linkbutton" id="tzgg-add" data-options="plain:'true',iconCls:'icon-xinzeng',
                  bindmethod:{'click':['newStatus']},scope:'tzgg',status:'1',                        
                  forbidstatus:[1,2,3]">新增</a> 
                  
                  <a href="#" class="easyui-linkbutton" id="tzgg-edit"
                      data-options="plain:'true',iconCls:'icon-xiugai',
                  treeId:['tzgg-tree-ren'],upLoadId:['fsUploadProgress'],
                  bindmethod:{'click':['setStatusexamine']},scope:'tzgg',status:'2',                       
                  forbidstatus:[1,2,3]">修改</a> 
                  
                  <a href="#" class="easyui-linkbutton" id="tzgg-remove"
                      data-options="plain:'true',iconCls:'icon-shanchu',
                      treeId:['tzgg-tree-ren'],
                  bindmethod:{ 'click': ['setStatusexamine'] },scope:'tzgg',status:'3',
                  forbidstatus:[1,2,3]">删除</a> 
                  
                  <a href="#" class="easyui-linkbutton" id="tzgg-save"
                      data-options="plain:'true',iconCls:'icon-baocun',
                  JCDA:true,
                  treeId:['tzgg-tree-ren'],
                  NewIdStatus:'1',
                  bindmethod:{ 'click': ['saveDoc'] },
                  bindparms:{'saveDoc':['/JCzmsz/Savetzgg']},
                  scope:'tzgg',status:'4',forbidstatus:[4]">保存</a> 
                  
                  <a href="#" class="easyui-linkbutton"
                      id="tzgg-cancel" data-options="plain:'true',iconCls:'icon-quxiao', 
                  scope:'tzgg',forbidstatus:[4],
                  bindmethod:{ 'click': ['cancel'] }">取消</a> 
                  
                  <a href="#" class="easyui-linkbutton"
                      id="tzgg-close" data-options="plain:'true',iconCls:'icon-tuichu',
                  bindmethod:{ 'click': ['closeTab'] },
                  scope:'tzgg'">退出</a>
        </div>
    </div>
    <div data-options="region:'west',split:'true'" style="width: 250px">
        <div class="easyui-tabs" data-options="fit:true">
            <div title="通知">
                <ul class="easyui-tree" id="tzgg-tree-ren" data-options="
                    msg:'通知',
                    m:'OA_Notice',
                    associate:{
                            'tzgg-OA_Notice-NoticeDate':['NoticeDate'],
                            'tzgg-OA_Notice-isPop':['isPop'],
                            'tzgg-OA_Notice-EndDate':['EndDate'],
                            'tzgg-OA_Notice-overdue':['overdue'],
                            'tzgg-OA_Notice-Title':['Title'],
                            'tzgg-OA_Notice-Notice':['Notice'],
                            'tzgg-OA_Notice-GUID':['GUID'],
                            'tzgg-OA_NoticeAnnex-GUID_Notice':['GUID'],
                            'tzgg-OA_NoticeAnnex-AnnexName':['AnnexName']
                  },
                  associateEX:{
                    @*修改状态时不去传值*@
                  },
                  bindmethod:{'onClick': ['setAsso'] },
                  forbidstatus:[3],
                  checkbox:false,
                  url:'/Tree/GetJCNoticeTree',
                  scope:'tzgg',
                  upLoadId:'fsUploadProgress',
                  retStatus:'4',
                  customBindFirst:true,
                  IsDocStatusAssociate:true,
                  method:'post'">
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center',fit:true" style="width: 960px; padding-left: 10px;">
        <table border="0" style="height: 350px; width: 960px; padding: 0; margin: 0">
            <tr>
                <td colspan="6" style="height: 50px;">
                    <div style="text-align: center;">
                        <table border="0px" style="margin-top: 5%; padding: 0px; width: 650px; height: 150px;">
                            <tr>
                                <td style="width: 90px;">
                                    <label for="field1" id="lbl-NoticeDate">
                                        &nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;期</label>
                                </td>
                                <td style="width: 200px; text-align: left;">
                                    <input class="easyui-datebox" id="tzgg-OA_Notice-NoticeDate" data-options="width:176,forbidstatus:[4,3],required:false,
                                        bindmethod: { 'onCloseEx': ['setAssociate'] }"></input>
                                </td>
                                <td style="width: 90px;">
                                    <label for="field" id="lbl-isPop">
                                        &nbsp;首页显示</label>
                                </td>
                                <td style="text-align: left;">
                                    <input type="checkbox" class="easyui-checkbox" id="tzgg-OA_Notice-isPop" data-options="forbidstatus:[4,3]"></input>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 90px;">
                                    <label for="field1" id="lbl-EndDate">
                                        &nbsp;弹出过期</label>
                                </td>
                                <td style="width: 200px; text-align: left;">
                                    <input class="easyui-datebox" id="tzgg-OA_Notice-EndDate" data-options="width:176,forbidstatus:[4,3],required:false,
                                        bindmethod: { 'onCloseEx': ['setAssociate'] }"></input>
                                </td>
                                <td style="width: 90px;">
                                    <label for="field1" id="lbl-overdue">
                                        &nbsp;过&nbsp;&nbsp;&nbsp;&nbsp;期</label>
                                </td>
                                <td style="text-align: left;">
                                    <input type="checkbox" class="easyui-checkbox" id="tzgg-OA_Notice-overdue" data-options="forbidstatus:[4,3]"></input>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 90px;">
                                    <label for="field" id="lbl-Title">
                                        <font color="red">*</font>标&nbsp;&nbsp;&nbsp;&nbsp;题</label>
                                </td>
                                <td colspan="3" style="text-align: left;">
                                    <input class="easyui-validatebox" id="tzgg-OA_Notice-Title" style="width: 100%" data-options="forbidstatus:[4,3]"></input>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 90px;">
                                    <label for="field" id="lbl-Notice">
                                        <font color="red">*</font>内&nbsp;&nbsp;&nbsp;&nbsp;容</label>
                                </td>
                                <td colspan="3" style="text-align: left;">
                                    <textarea id="tzgg-OA_Notice-Notice" class="easyui-validatebox" data-options="forbidstatus:[4,3]"
                                        style="width: 100%; height: 250px; resize: none;"></textarea>
                                </td>
                            </tr>
                            @* <tr>
                                <td style="width: 90px;">
                                    <label for="field" id="lbl-GUID_NoticeAnnex">
                                        &nbsp;附&nbsp;&nbsp;&nbsp;&nbsp;件</label>
                                </td>
                                <td colspan="3" style="text-align:left;">
                                    <textarea id="tzgg-OA_NoticeAnnex-AnnexName" class="easyui-validatebox" data-options="forbidstatus:[4,3]" style="width:100%; height:80px; float:left; resize:none;"></textarea>
                                </td>
                            </tr>*@
                            <tr>
                                <td style="width: 90px;">
                                    <label for="field" id="lbl-">
                                        &nbsp;附&nbsp;&nbsp;&nbsp;&nbsp;件</label>
                                </td>
                                <td colspan="3" style="text-align: left;">
                                    <div class="fieldset flash" id="fsUploadProgress">
                                        @*<span class="legend">附件</span>*@
                                    </div>
                                    <div id="divStatus" style="display: none">
                                        0 上传完的文件</div>
                                    <div>
                                        <span id="spanButtonPlaceHolder"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <input class="easyui-validatebox" id="tzgg-OA_Notice-GUID" type="hidden" keyattr="1"></input>
    <input class="easyui-validatebox" id="tzgg-OA_Notice-OrderNum" type="hidden" keyattr="1"></input>
    <input class="easyui-validatebox" id="tzgg-OA_FileTempModel-GUID_OA_FileTemp" type="hidden" keyattr="1"></input>
    <input class="easyui-validatebox" id="tzgg-OA_Notice-FileName" type="hidden" keyattr="1"></input>
    <input class="easyui-validatebox" id="tzgg-OA_NoticeAnnex-GUID_Notice" type="hidden" keyattr="1"></input>
    <input class="easyui-validatebox" id="tzgg-OA_NoticeAnnex-GUID" type="hidden" keyattr="1"></input>

</div>
<label id="tzgg-extendregion" style="display: none">
    <input id="tzgg-status" type="text"></input>
    <input id="initscope" type="text" value="tzgg"></input>
    <input id="initstatus" type="text" value="4"></input>
    <input id="initController" type="text" value="JCzmsz"></input>
    <input id="initguid" type="text" value=@ViewData["guid"]></input>
    <div id="tzgg-b-window" line="true">
    </div>
</label>
<iframe id="printIframe" style="display: none"></iframe>
