<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BaseConfigEdmxEntities" connectionString="metadata=res://*/BaseConfigEdmx.csdl|res://*/BaseConfigEdmx.ssdl|res://*/BaseConfigEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.220;Initial Catalog=baoth_casm;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>