<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        .style5
        {
            width: 200px;
        }
        .style6
        {
            width: 340px;
            height: 29px;
            font-size: large;
            font-family: 黑体;
        }
      
        .style8
        {
            height: 34px;
        }
        .style9
        {
            width: 75px;
            }
        .style10
        {
            font-family: 黑体;
            font-size: x-small;
        }
        .leftTable tr
        {
        	heigth:35px;
        }
        .style11
        {
            height: 25px;
        }
        .style13
        {
            height: 25px;
            font-size: x-small;
            width: 61px;
        }
        .style14
        {
            width: 61px;
        }
        table td
        {
        }
        .style15
        {
            height: 22px;
        }
        .auto-style1 {
            width: 305px;
        }
        .auto-style3 {
            height: 20px;
        }
        .auto-style5 {
            width: 340px;
            height: 20px;
        }
        .auto-style6 {
            width: 305px;
            height: 20px;
        }
        .auto-style7 {
            width: 340px;
        }
    </style>
</head>
<body style="width: 614px">
    <span id="xiaoxie" 
        
        style="font-size:16px; letter-spacing:0.7px;position:absolute;text-align:right; top: 172px; left: 305px; width: 300px;">￥&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;5&nbsp;6&nbsp;7&nbsp;8&nbsp;9&nbsp;0</span>
        <table style="border-style: solid; border-width: 0px; border-color: inherit; width: 802px; height: 255px; ">
    <tr>
        <td rowspan="13" style="width:180px">
            <table id="leftTable" style="width:100px; height:233px">
              
                    <tr><td><span id="quancheng1"  style="position:absolute; font-family: 黑体; width:179px; font-size:14px; top: 57px; left: 68px; right: 868px; height: 16px;">国家基础地理信息中心</span>
                <span id="zhanghao1"  style="font-family: 黑体; font-size:14px;position:absolute; top: 84px; left: 70px; width: 176px; right: 869px;">7111010182600296021</span>
                <span id="shi1"    
                            style="font-size:14px;position:absolute; width: 46px; margin-top: 6px; top: 101px; left: 125px; right: 917px; height: 14px;" 
                            class="style10">北京</span>
                               <span id="hkProvince"    
                            style="font-size:14px;position:absolute; width: 46px; margin-top: 6px; top: 101px; left: 60px; height: 14px; right: 956px;" 
                            class="style10">省份</span>
                               <span id="skProvince"    
                            style="font-size:14px;position:absolute; width: 90px; margin-top: 6px; top: 101px; left: 344px; height: 14px; right: 680px;" 
                            class="style10">收款省份</span>
                <span id="huichuyinhangmc1" style="font-family: 黑体; font-size:14px;position:absolute; top: 138px; left: 70px; width: 174px;">中信银行总行营业部</span>
                        </td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td class="style11" colspan="2"></td></tr>
                    <tr><td class="style11" colspan="2">
                <span id="shi2"    
                            style="font-size:14px;position:absolute; width: 122px; margin-top: 6px; top: 101px; left: 436px; right: 556px; height: 17px;" 
                            class="style10">北京</span></td></tr>
                    <tr><td class="style11" colspan="2"></td></tr>
                    <tr><td colspan="2"><span id="year" style="position:absolute; font-family: 黑体;  top: 25px; left: 240px; right: 834px;">2015</span> <span id="month" style="position:absolute; font-family: 黑体;  top: 25px; left: 305px; height: 13px; right: 785px;">10</span><span id="day" style="position:absolute; font-family: 黑体;  top: 25px; left: 341px; width: 17px; height: 14px;">2</span></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    
                     
                    
            </table>
        </td>
        <td class="style9" rowspan="13">
            &nbsp;</td>
        <td colspan="2" class="style8">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2" class="auto-style3" >
            <span id="CustomerName" 
                style="font-size:14px;position:absolute;width: 254px; text-align:left; margin-top: 0px; top: 52px; left: 344px;" class="style10">中国测绘科学研究院</span>
             <span id="CustomerBankNumber" style="font-size:14px;position:absolute; width: 252px; top: 80px; left: 344px; height: 13px;" class="style10">7111010182600295962</span>  
            
           
        </td>
    </tr>
    <tr><td colspan="2" class="style15"><span id="CustomerBankName" style="font-family: 黑体; font-size:14px;position:absolute; top: 134px; left: 344px; width: 243px;" >北京农行东四支行</span></td></tr>
    <tr>
        <td colspan="2" class="auto-style3">
            &nbsp;
            <br />
        </td>
    </tr>
    <tr>
        <td class="style6" rowspan="2"><span id="money_chinese"style="position:absolute;text-align:left; top: 167px; left: 60px; width: 350px;">五二三四五六七八九十十一</span></td>
        <td class="auto-style7"></td>
    </tr>
    <tr>
        <td class="auto-style5" ></td>
        <td  style="text-align:right" class="auto-style1" ><span id="zhifuling" 
                style="font-size:14px;position:absolute;text-align:right; top: 214px; left: 141px; width: 300px;">&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;5&nbsp;6&nbsp;7&nbsp;8&nbsp;9&nbsp;0</span></td>
    </tr>
    <tr>
        <td class="style6" rowspan="2"><span id="yongtu"
                style="font-size:14px; position:absolute;text-align:left; top: 236px; left: 380px; width: 194px; height: 59px;">购办公用品</span></td>
        <td class="auto-style7"></td>
    </tr>
    <tr>
        <td class="auto-style5" ></td>
        <td class="auto-style6" ></td>
    </tr>
     <tr>
        <td ></td>
        <td class="auto-style7"  ></td>
    </tr>
        <tr>
        <td  ></td>
        <td class="auto-style7"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style7"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style7"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style7"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style7"  ></td>
    </tr>
    <tr style="height:5px">
        <td ></td>
        <td class="auto-style1" ></td>
    </tr>
</table>
</body>
</html>