<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        .style5
        {
            width: 200px;
        }
        .style6
        {
            width: 340px;
            height: 29px;
            font-size: large;
            font-family: 黑体;
        }
      
        .style8
        {
            height: 34px;
        }
        .style9
        {
            width: 75px;
            }
        .style10
        {
            font-family: 黑体;
            font-size: x-small;
        }
        .leftTable tr
        {
        	heigth:35px;
        }
        .style11
        {
            height: 25px;
        }
        .style13
        {
            height: 25px;
            font-size: x-small;
            width: 61px;
        }
        .style14
        {
            width: 61px;
        }
        table td
        {
        }
        .style15
        {
            height: 22px;
        }
        .auto-style1 {
            width: 305px;
        }
        .auto-style3 {
            height: 20px;
        }
        .auto-style5 {
            width: 340px;
            height: 20px;
        }
        .auto-style6 {
            width: 305px;
            height: 20px;
        }
    </style>
</head>
<body style="width: 614px">
<table style="border-style: solid; border-width: 0px; border-color: inherit; width: 802px; height: 255px; ">
    <tr>
        <td rowspan="13" style="width:180px">
            <table id="leftTable" style="width:100px; height:233px">
              
                    <tr><td><span id="zhifuling" style="position:absolute;width:80px; font-size:12px; top: 104px; left: 34px; right: 968px;">1234567890123456</span></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td class="style11" colspan="2"></td></tr>
                    <tr><td class="style11" colspan="2"><span 
                            id="dayid1" 
                            style="position:absolute; font-size:14px; top: 176px; left: 25px; width: 112px;">国家基础地理信息中心</span></td></tr>
                            
                        
                    <tr><td class="style11" colspan="2"></td></tr>
                    <tr><td colspan="2"><span id="yearid" style="position:absolute; font-size:14px; top: 141px; left: 30px; right: 1591px;">2015</span> 
                        <span id="monthid" style="position:absolute; font-size:14px; top: 141px; left: 75px; height: 5px; ">10</span></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td class="auto-style3"></td><td class="auto-style3"></td></tr>
                    <tr><td colspan="2" class="auto-style3"><span id="money" style="position:absolute; font-size:14px; top: 210px; left: 35px; width: 83px;">1000000</span></td></tr>
                    <tr><td colspan="2" class="style15"><span id="p-useed" style="position:absolute; font-size:14px; top: 231px; left: 35px; width: 101px; height: 42px;" >用途用途用途用途</span></td></tr>
            </table>
        </td>
        <td class="style9" rowspan="13">
            &nbsp;</td>
        <td colspan="2" class="style8">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2" >
            <span id="zplq-uYear0" 
                style="font-size:14px;position:absolute;width: 166px;padding-left:60px; text-align:right; margin-top: 0px; top: 26px; left: 134px;" class="style10">贰零壹肆</span>  
            <span id="zplq-uYear1" style="font-size:14px;position:absolute;padding-left:20px; width: 72px; margin-top: 6px; top: 19px; left: 366px; right: 662px;" class="style10">壹</span>  
            <span id="zplq-uYear2" style="font-size:14px;position:absolute;padding-left:20px; width: 112px; top: 24px; left: 426px;" class="style10">壹肆</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="style15">
            &nbsp;
            <br />
            <span style="font-family: 黑体; position:absolute; top: 45px; left: 244px; width: 451px;">
            国家基础地理信息中心
            </span>
        </td>
    </tr>
    <tr>
        <td class="style6" rowspan="2"><span id="money_chinese"style="font-family: 黑体; position:absolute;text-align:left; top: 75px; left: 250px; width: 452px;">五二三四五六七八九十十一</span></td>
        <td class="auto-style1"></td>
    </tr>
    <tr>
        <td class="auto-style5" ></td>
        <td  style="text-align:right" class="auto-style1" ><span id="money-number" style="position:absolute;text-align:right; top: 85px; left: 612px; width: 198px;">￥&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;5&nbsp;6&nbsp;7&nbsp;8&nbsp;9&nbsp;0</span></td>
    </tr>
    <tr>
        <td class="auto-style5" ></td>
        <td class="auto-style6" ></td>
    </tr>
     <tr>
        <td ><span id="PsdId" 
                style="position:absolute; top: 148px; left: 570px; width: 204px;">密码</span>
        <span id="yongtu" style="position:absolute; top: 118px; left: 223px; width: 375px;">用1途</span>
        </td>
        <td class="auto-style1"  ></td>
    </tr>
        <tr>
        <td  ></td>
        <td class="auto-style1"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style1"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style1"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style1"  ></td>
    </tr>
    <tr>
        <td  ></td>
        <td class="auto-style1"  ></td>
    </tr>
    <tr style="height:5px">
        <td ></td>
        <td class="auto-style1" ></td>
    </tr>
</table>
    <span id="dayid" 
        style="position:absolute;font-size:14px; top: 141px; left: 103px; width: 26px; bottom: 326px;">2</span>
</body>
</html>