<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>公务卡汇总报销单</title>
    <style type="text/css">
        body
        {
            font-size: 12px;
            margin: 0px;
            padding: 0px;
        }
        .Layout
        {
            margin: 0px auto;
            padding: 0px;
            width: 100%;
            height: 100%;
        }
        .xj
        {
            width: 751px;
            height: 90px;
            text-align: center;
            margin: 0px;
        }
        .xj .xj_pos
        {
            margin-left: 152px;
            width: 383px;
            font-family: 华文细黑;
            font-size: 22px;
            font-weight: bold;
            line-height: 43px;
        }
        .dh
        {
            width: 203px;
            line-height: 43px;
            height: 43px;
            float: right;
            margin-top: -40px;
            text-align: left;
            font-family: 宋体;
            font-weight: bold;
        }
        .xj_bg
        {
            width: 751px;
            font-family: 华文楷体;
            font-size: 14px;
            padding: 0px;
            margin: 0px;
            padding-top: 10px;
        }
        .xj_bg_div1
        {
            float: left;
            padding: 3px;
        }
        .xj_bg_div2
        {
            padding: 3px;
        }
        li
        {
            list-style-type: none;
            display: inline-block;
            padding-left: 0px;
            margin-left: 0px;
        }
        ul
        {
            height: 36px;
            line-height: 36px;
            margin-left: 0px;
        }
        .tab_foot
        {
            width: 751px;
            height: 108px;
            margin: 0px auto;
            font-family: 华文楷体;
            font-size: 16px;
            vertical-align: bottom;
        }
        .tabfoot_div
        {
            line-height: 108px;
            text-align: center left;
            float: left;
        }
        .jine div
        {
            height: 46px;
            line-height: 46px;
            float: left;
            text-align: center;
        }
       table
        {
            border-collapse: collapse; /*边框合并属性*/
            margin-top: 2px;
            font-family: 华文楷体;
            font-size: 14px;
            width: 808px;
            height: 290px;
            float: left;
            table-layout:fixed;
        }
        th
        {
            border: 1px solid #000000;
            height: 26px;
            background: #C0C0C0;
            text-align: center;
            line-height: 25px;
        }
        td
        {
            border: 1px solid #000000;
            height: 30px;
            text-align: center;
            word-wrap:break-word;
            line-height:13px;
        }
    </style>
</head>
<body>
    <div id="print" style="position: relative; height: 100%; line-height: 100%;" options="{'extendcontent':{'BX_Detail':{'gist':'rowcount','model':'page','target':'content'}}}">
        <div id="content" class="Layout">
            <div class="xj">
                <div class="xj_pos">
                    公&nbsp;务&nbsp;卡&nbsp;汇&nbsp;总&nbsp;报&nbsp;销&nbsp;单
                </div>
                <div style="width: 300px; height: 5px; margin-left: 190px; border-top: 1px solid black;
                    border-bottom: 1px solid black;">
                </div>
                <div class="dh">
                    <span>单号&nbsp;<span id="BX_Main-DocNum">编号</span>&nbsp;<span id="pagination"></span></span>
                </div>
                <div style="width: 383px; font-size: 14px; height: 31px; line-height: 31px; margin: 0 140px;
                    padding-top: 10px">
                    <span id="gwkbxd-BX_Main-DocDate">时间日期</span></div>
            </div>
            <div class="xj_bg">
                <div class="xj_bg_div1">
                    单位领导________________</div>
                <div class="xj_bg_div1">
                    部门负责人_______________</div>
                <div class="xj_bg_div1">
                    项目负责人_______________</div>
                <div class="xj_bg_div2">
                    财务负责人________________</div>
            </div>
            <div>
                <table id="BX_Detail" style="width: 751px;">
                    <thead>
                        <tr>
                            <th field="colindex" style="width: 55px;">
                                序号
                            </th>
                            <th field="BX_Detail-BGCodeName" style="width: 75px;">
                                持卡人
                            </th>
                            <th field="BX_Detail-OfficialCard" style="width: 90px;">
                                卡号
                            </th>
                            <th field="BX_Detail-FeeDate" style="width: 80px;">
                                消费日期
                            </th>
                            <th field="BX_Detail-ProjectKey" style="width: 80px;">
                                科目
                            </th>
                            <th field="BX_Detail-ProjectName" isDemical="true" style="width: 80px;">
                                金额
                            </th>
                            <th field="BX_Detail-ProjectName" style="width: 100px;">
                                项目编码
                            </th>
                            <th field="BX_Detail-ProjectName" style="width: 149px;">
                                项目名称
                            </th>
                            <th style="border: 0px; width:32px; background: White;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                                附
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                                单
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                                据
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                                <div id="BX_Main-BillCount">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                                张
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td field="">
                            </td>
                            <td style="border: 0px;">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="jine">
                                    <div style="width: 110px;">
                                        实报金额
                                    </div>
                                    <div style="width: 431px; text-align: left;">
                                        <span id="BX_Main-moneychinese">大写金额</span>
                                    </div>
                                    <div style="width: 189px; text-align: center;">
                                        <div id="BX_Main-moneyunmber" style="width: 140px; padding-right: 8px; line-height: 45px;
                                            text-align: right; border-bottom: 1px solid #000000; float: right; height: 36px;">
                                            小写金额
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab_foot">
                <div class="tabfoot_div" style="width: 227px;">
                    &nbsp; 会计审核：<span></span>
                </div>
                <div class="tabfoot_div" style="width: 200px;">
                    出纳：<span></span>
                </div>
                <div class="tabfoot_div" style="width: 294px;">
                    &nbsp; 收款人：<span id="BX_Main-PersonName"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
